NodeRed SMA flow version-0.8.6.json
[
    {
        "id": "3c802b03f163fdb6",
        "type": "subflow",
        "name": "Price Limiter (UI2.0)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 85,
                "y": 165,
                "wires": [
                    {
                        "id": "e2eb5a6a162dd847"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1335,
                "y": 300,
                "wires": [
                    {
                        "id": "667b815fd2dd777a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1335,
                "y": 435,
                "wires": [
                    {
                        "id": "8a56deef0891663b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Current Price Input"
        ],
        "outputLabels": [
            "Output 5 or 100% ",
            "Output PriceLimit"
        ],
        "icon": "node-red-dashboard/ui_slider.png",
        "status": {
            "x": 740,
            "y": 405,
            "wires": [
                {
                    "id": "a02621c670c20209",
                    "port": 0
                },
                {
                    "id": "4022af114da39b5c",
                    "port": 0
                },
                {
                    "id": "d28ec370f6d5e88a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "e2eb5a6a162dd847",
        "type": "change",
        "z": "3c802b03f163fdb6",
        "name": "CurrentPrice",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CurrentPrice",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 165,
        "wires": [
            [
                "8a56deef0891663b"
            ]
        ]
    },
    {
        "id": "8a56deef0891663b",
        "type": "Comparator",
        "z": "3c802b03f163fdb6",
        "name": "Comparator",
        "property": "payload",
        "math": "<=",
        "topic1": "CurrentPrice",
        "topic2": "PriceLimit",
        "x": 965,
        "y": 210,
        "wires": [
            [
                "667b815fd2dd777a",
                "e75272d6f105655c"
            ]
        ]
    },
    {
        "id": "bb0b3c7a45bb1103",
        "type": "inject",
        "z": "3c802b03f163fdb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "PriceLimit",
        "payloadType": "global",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "a02621c670c20209",
                "4022af114da39b5c",
                "d28ec370f6d5e88a"
            ]
        ]
    },
    {
        "id": "667b815fd2dd777a",
        "type": "function",
        "z": "3c802b03f163fdb6",
        "name": "Power Limit 0 or 100 %",
        "func": "var compare = msg.payload ;\n\nswitch(compare) {\n  case true:\n    var Limfactor = 5\n    break;\n  case false:\n    var Limfactor = 100\n    break;\n  default:\n    var Limfactor = 100\n}\n\n\n\nreturn [{ payload: Limfactor }];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1205,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "4c29e8b47dd9da0c",
        "type": "change",
        "z": "3c802b03f163fdb6",
        "name": "Last",
        "rules": [
            {
                "t": "set",
                "p": "PriceLimit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "4022af114da39b5c",
        "type": "ui-slider",
        "z": "3c802b03f163fdb6",
        "d": true,
        "group": "1f577f21a19951f0",
        "name": "",
        "label": "",
        "tooltip": "",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "PriceLimit",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-0.75",
        "max": "0.75",
        "step": "0.01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "4c29e8b47dd9da0c",
                "a02621c670c20209"
            ]
        ]
    },
    {
        "id": "7a26839716b89a74",
        "type": "inject",
        "z": "3c802b03f163fdb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "CurrentPrice",
        "payloadType": "global",
        "x": 190,
        "y": 45,
        "wires": [
            [
                "e2eb5a6a162dd847"
            ]
        ]
    },
    {
        "id": "a02621c670c20209",
        "type": "function",
        "z": "3c802b03f163fdb6",
        "name": "Start value after deploy",
        "func": "var limit = global.get(\"PriceLimit\");\n\nreturn [{payload: limit}];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 300,
        "wires": [
            [
                "285447cbcf0ed590"
            ]
        ]
    },
    {
        "id": "285447cbcf0ed590",
        "type": "change",
        "z": "3c802b03f163fdb6",
        "name": "PriceLimit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PriceLimit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "8a56deef0891663b"
            ]
        ]
    },
    {
        "id": "e75272d6f105655c",
        "type": "function",
        "z": "3c802b03f163fdb6",
        "name": "Store PriceTrigger State",
        "func": "global.set(\"PriceTrigger\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1075,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d28ec370f6d5e88a",
        "type": "ui-slider",
        "z": "3c802b03f163fdb6",
        "group": "f30e13409cbea2ca",
        "name": "",
        "label": "",
        "tooltip": "",
        "order": 13,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "PriceLimit",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "-0.75",
        "max": "0.75",
        "step": "0.01",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "a02621c670c20209",
                "4c29e8b47dd9da0c"
            ]
        ]
    },
    {
        "id": "09d6fac281cb8b29",
        "type": "subflow",
        "name": "Dynamic Price Control (UI2.0)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 380,
                "y": 360,
                "wires": [
                    {
                        "id": "e28ab025cd98a97b"
                    },
                    {
                        "id": "139012bce1c25c69"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1070,
                "y": 420,
                "wires": [
                    {
                        "id": "1ee2b7d2222eb8c0",
                        "port": 0
                    },
                    {
                        "id": "eeca8cbbca11fb1e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 595,
            "y": 630,
            "wires": [
                {
                    "id": "07ee8603b8e85b7c",
                    "port": 0
                },
                {
                    "id": "b634eed7d66962e7",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "07ee8603b8e85b7c",
        "type": "ui-switch",
        "z": "09d6fac281cb8b29",
        "d": true,
        "name": "Dynamic Price Control",
        "label": "Dynamic Price Control",
        "group": "1f577f21a19951f0",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "state",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 370,
        "y": 570,
        "wires": [
            [
                "e28ab025cd98a97b",
                "1ee2b7d2222eb8c0",
                "b34c68b16c73bc43"
            ]
        ]
    },
    {
        "id": "1ee2b7d2222eb8c0",
        "type": "function",
        "z": "09d6fac281cb8b29",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e28ab025cd98a97b",
        "type": "function",
        "z": "09d6fac281cb8b29",
        "d": true,
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 650,
        "y": 285,
        "wires": [
            [
                "eeca8cbbca11fb1e"
            ]
        ]
    },
    {
        "id": "b34c68b16c73bc43",
        "type": "function",
        "z": "09d6fac281cb8b29",
        "name": "Store PriceControl State",
        "func": "global.set(\"PriceControl\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "eeca8cbbca11fb1e",
        "type": "switch",
        "z": "09d6fac281cb8b29",
        "name": "",
        "property": "PowerControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "139012bce1c25c69",
        "type": "switch",
        "z": "09d6fac281cb8b29",
        "name": "",
        "property": "PriceControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 625,
        "y": 360,
        "wires": [
            [
                "eeca8cbbca11fb1e"
            ]
        ]
    },
    {
        "id": "b634eed7d66962e7",
        "type": "ui-switch",
        "z": "09d6fac281cb8b29",
        "name": "Dynamic Price Control",
        "label": "Dynamic Price Control",
        "group": "f30e13409cbea2ca",
        "order": 12,
        "width": "9",
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "state",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "1ee2b7d2222eb8c0",
                "b34c68b16c73bc43"
            ]
        ]
    },
    {
        "id": "eef49cec60198b38",
        "type": "subflow",
        "name": "Power Limiter (UI2.0)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 220,
                "wires": [
                    {
                        "id": "35a7b1de17bed1c7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1105,
                "y": 220,
                "wires": [
                    {
                        "id": "ef02b1d144dd7a60",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1105,
                "y": 280,
                "wires": [
                    {
                        "id": "b64ad6704e5292a9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Actual use input"
        ],
        "outputLabels": [
            "Output 0 - 100%",
            "Output in Watt"
        ],
        "icon": "node-red-dashboard/ui_slider.png"
    },
    {
        "id": "35a7b1de17bed1c7",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "Power limit factor",
        "func": "//var Marge = 400 ;\n//var Limfactor = (msg.payload + Marge) / 5000 ;\nvar factor = global.get(\"InverterPower\");\nvar Limfactor = (msg.payload) / factor ; // 5000;\nreturn [{ payload: Limfactor }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "458591ea364df796"
            ]
        ]
    },
    {
        "id": "b46bf6acb14bb256",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "* 100",
        "func": "var lim = msg.payload *100 ;\nvar limit = Math.ceil(lim) ; \nreturn [{payload: limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "ef02b1d144dd7a60"
            ]
        ]
    },
    {
        "id": "458591ea364df796",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "abs",
        "func": "var abs = Math.abs(msg.payload);\n\nreturn [{ payload: abs }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 455,
        "y": 220,
        "wires": [
            [
                "b46bf6acb14bb256"
            ]
        ]
    },
    {
        "id": "ef02b1d144dd7a60",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "range (min-max)",
        "func": "var min = 0 ;\nvar max = 100 ;\n\nvar limit = msg.payload ;\n\nif (limit > max) {\n    limit = max;\n} else if (limit < min) {\n    limit = min;\n} \n\n\nreturn[{payload:limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725,
        "y": 220,
        "wires": [
            [
                "b64ad6704e5292a9",
                "b81753426b1357c7"
            ]
        ]
    },
    {
        "id": "b64ad6704e5292a9",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "limit W",
        "func": "var factor = global.get(\"InverterPower\") / 100 ;\nvar lim = msg.payload * factor ; //50; // factor for 5kW  inverter\nreturn [{ payload: lim }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 915,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b81753426b1357c7",
        "type": "function",
        "z": "eef49cec60198b38",
        "name": "Store PowerLitmit [%]",
        "func": "global.set(\"PowerLimit\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 939.8511962890625,
        "y": 98.4126968383789,
        "wires": [
            []
        ]
    },
    {
        "id": "6daf500cc4957e3f",
        "type": "subflow",
        "name": "Dynamic Power Control (UI2.0)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 250,
                "y": 390,
                "wires": [
                    {
                        "id": "fb8c3f04b3635452"
                    },
                    {
                        "id": "e0b71c50850fd204"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 270,
                "wires": [
                    {
                        "id": "dc987298d504d87a",
                        "port": 0
                    },
                    {
                        "id": "064d6a789231232b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Dynamic Power Control",
            "type": "Switch",
            "desc": "switches flow and control"
        },
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 580,
            "y": 135,
            "wires": [
                {
                    "id": "238a704029ca012d",
                    "port": 0
                },
                {
                    "id": "01825848dd463725",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "238a704029ca012d",
        "type": "ui-switch",
        "z": "6daf500cc4957e3f",
        "d": true,
        "name": "Dynamic Control",
        "label": "Dynamic Control",
        "group": "1f577f21a19951f0",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "state",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 340,
        "y": 110,
        "wires": [
            [
                "fb8c3f04b3635452",
                "064d6a789231232b",
                "53a582ec07814501"
            ]
        ]
    },
    {
        "id": "064d6a789231232b",
        "type": "function",
        "z": "6daf500cc4957e3f",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 625,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "fb8c3f04b3635452",
        "type": "function",
        "z": "6daf500cc4957e3f",
        "d": true,
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 635,
        "y": 330,
        "wires": [
            [
                "2a72b643f8fae5a6"
            ]
        ]
    },
    {
        "id": "2a72b643f8fae5a6",
        "type": "smooth",
        "z": "6daf500cc4957e3f",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "8",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 765,
        "y": 390,
        "wires": [
            [
                "dc987298d504d87a"
            ]
        ]
    },
    {
        "id": "dc987298d504d87a",
        "type": "delay",
        "z": "6daf500cc4957e3f",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "53a582ec07814501",
        "type": "function",
        "z": "6daf500cc4957e3f",
        "name": "Store PowerControl State",
        "func": "global.set(\"PowerControl\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "e0b71c50850fd204",
        "type": "switch",
        "z": "6daf500cc4957e3f",
        "name": "",
        "property": "PowerControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 605,
        "y": 390,
        "wires": [
            [
                "2a72b643f8fae5a6"
            ]
        ]
    },
    {
        "id": "01825848dd463725",
        "type": "ui-switch",
        "z": "6daf500cc4957e3f",
        "name": "Dynamic Control",
        "label": "Dynamic Control",
        "group": "f30e13409cbea2ca",
        "order": 11,
        "width": "9",
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "state",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 270,
        "wires": [
            [
                "064d6a789231232b",
                "53a582ec07814501"
            ]
        ]
    },
    {
        "id": "1f577f21a19951f0",
        "type": "ui-group",
        "name": "SMA  settings",
        "page": "af2240e5c72311cb",
        "width": "9",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "af2240e5c72311cb",
        "type": "ui-page",
        "name": "Energy 2.0",
        "ui": "ed65cae6cca93de9",
        "path": "/energy",
        "icon": "battery_charging_60",
        "layout": "tabs",
        "theme": "66d991c71fbeaf8c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "9"
            },
            {
                "name": "Mobile",
                "px": "3088",
                "cols": "9"
            }
        ],
        "order": 1,
        "className": "/* Stop groups being clamped to three wide on mobile*/ @media only screen and (max-width: 576px) {      /* Fixed layout */     .nrdb-layout--flex {           --layout-columns: 6 !important;       }     /* Grid layout */     .nrdb-layout--grid {           --layout-columns: 6 !important;       }   }",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ed65cae6cca93de9",
        "type": "ui-base",
        "name": "UI 2.0",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "66d991c71fbeaf8c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#097479",
            "primary": "#0d3011",
            "bgPage": "#000008",
            "groupBg": "#10220c",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px",
            "density": "default"
        }
    },
    {
        "id": "0acebdddcd86f1ce",
        "type": "subflow",
        "name": "Dynamic Power Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 380,
                "wires": [
                    {
                        "id": "e1e3de88559a44d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 280,
                "wires": [
                    {
                        "id": "f4bf20b3ac93d8db",
                        "port": 0
                    },
                    {
                        "id": "c18b2423fa37b5df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Dynamic Power Control",
            "type": "Switch",
            "desc": "switches flow and control"
        },
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 595,
            "y": 75,
            "wires": [
                {
                    "id": "a88141d551d3617d",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "a88141d551d3617d",
        "type": "ui_switch",
        "z": "0acebdddcd86f1ce",
        "name": "Dynamic Control",
        "label": "Dynamic Control",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "state",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "e1e3de88559a44d4",
                "c18b2423fa37b5df",
                "197a27e617e46694"
            ]
        ]
    },
    {
        "id": "c18b2423fa37b5df",
        "type": "function",
        "z": "0acebdddcd86f1ce",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e1e3de88559a44d4",
        "type": "function",
        "z": "0acebdddcd86f1ce",
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "dc380a66f10d7ecd"
            ]
        ]
    },
    {
        "id": "dc380a66f10d7ecd",
        "type": "smooth",
        "z": "0acebdddcd86f1ce",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "8",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "f4bf20b3ac93d8db"
            ]
        ]
    },
    {
        "id": "f4bf20b3ac93d8db",
        "type": "delay",
        "z": "0acebdddcd86f1ce",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "197a27e617e46694",
        "type": "function",
        "z": "0acebdddcd86f1ce",
        "name": "Store PowerControl State",
        "func": "global.set(\"PowerControl\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "b5ac64c138966e57",
        "type": "subflow",
        "name": "Dynamic Price Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 380,
                "y": 360,
                "wires": [
                    {
                        "id": "55538c28a8b9398d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1070,
                "y": 420,
                "wires": [
                    {
                        "id": "e3ed3e7f34fb6268",
                        "port": 0
                    },
                    {
                        "id": "2f6037612e0d361f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 595,
            "y": 630,
            "wires": [
                {
                    "id": "adabdbaa7b89e190",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "adabdbaa7b89e190",
        "type": "ui_switch",
        "z": "b5ac64c138966e57",
        "name": "Dynamic Price Control",
        "label": "Dynamic Price Control",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "state",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "55538c28a8b9398d",
                "e3ed3e7f34fb6268",
                "5ca095055992ea45"
            ]
        ]
    },
    {
        "id": "e3ed3e7f34fb6268",
        "type": "function",
        "z": "b5ac64c138966e57",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "55538c28a8b9398d",
        "type": "function",
        "z": "b5ac64c138966e57",
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "2f6037612e0d361f"
            ]
        ]
    },
    {
        "id": "5ca095055992ea45",
        "type": "function",
        "z": "b5ac64c138966e57",
        "name": "Store PriceControl State",
        "func": "global.set(\"PriceControl\",msg.payload) ;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6037612e0d361f",
        "type": "switch",
        "z": "b5ac64c138966e57",
        "name": "",
        "property": "PowerControl",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "57f685082443c4d2",
        "type": "subflow",
        "name": "EnergyPrices",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 120,
                "wires": [
                    {
                        "id": "bb225a141fb2affe"
                    },
                    {
                        "id": "d97a3c15b1973607"
                    },
                    {
                        "id": "6d3df1de0441d7b4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1125,
                "y": 300,
                "wires": [
                    {
                        "id": "e2069a2aa9bfefc3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 345,
                "wires": [
                    {
                        "id": "e97cf11550d5eb78",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 390,
                "wires": [
                    {
                        "id": "f87d9b70593c793b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 435,
                "wires": [
                    {
                        "id": "7574f0c617101b3e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 480,
                "wires": [
                    {
                        "id": "74a09b239c3ab860",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 660,
                "wires": [
                    {
                        "id": "84f2961880dd2e92",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 735,
                "wires": [
                    {
                        "id": "13c532fb6d67aa1d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 780,
                "wires": [
                    {
                        "id": "81f74b166c939517",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 825,
                "wires": [
                    {
                        "id": "2e2b7448b6d470a7",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 870,
                "wires": [
                    {
                        "id": "ac4d1ea57b82e6d3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "inctax",
                "type": "bool",
                "value": "true",
                "ui": {
                    "icon": "font-awesome/fa-money",
                    "type": "checkbox"
                }
            }
        ],
        "meta": {},
        "color": "#00ff99",
        "outputLabels": [
            "Anwb Current Hour",
            "anwb +1h",
            "anwb +2h",
            "anwb +3h",
            "anwb +4h",
            "Easyenergy Current Hour",
            "Easyenergy +1h",
            "Easyenergy +2h",
            "Easyenergy +3h",
            "Easyenergy +4h"
        ],
        "icon": "font-awesome/fa-euro",
        "status": {
            "x": 1090,
            "y": 255,
            "wires": [
                {
                    "id": "e2069a2aa9bfefc3",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ceb1920bcf1ab523",
        "type": "http request",
        "z": "57f685082443c4d2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "6e4d5124a659643b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 355,
        "y": 690,
        "wires": [
            [
                "fb8fd45508a89327"
            ]
        ]
    },
    {
        "id": "bb225a141fb2affe",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "create easyenergy url",
        "func": "//msg.url = 'https://api.energyzero.nl/v1/energyprices';\n//msg.url = 'https://api.frankenergie.nl/energyprices';\n//msg.url = 'https://enever.nl/api/stroomprijs_vandaag.php?' ;\nmsg.url = 'https://mijn.easyenergy.com/nl/api/tariff/getapxtariffs?startTimestamp=2020-04-29T22%3A00%3A00.000Z&endTimestamp=2020-04-30T22%3A00%3A00.000Z&grouping=';\nvar offset = 0;\nmsg.delay = 0;\nvar start = new Date();\n\nif (env.get('type') == 'tomorrow') {\n    offset = 24;\n    const targetTime = new Date(start.getFullYear(), start.getMonth(), start.getDate(), 15, 0, 0);\n    msg.delay = targetTime.getTime() - start.getTime();\n}\n\nstart.setUTCHours(0 + offset, start.getTimezoneOffset(), 0, 0);\nmsg.url += '?fromDate=' + start.toISOString();\n\nvar end = new Date();\nend.setUTCHours(23 + offset, start.getTimezoneOffset()+59, 59, 999);\nmsg.url += '&tillDate=' + end.toISOString();\n\nmsg.url += '&interval=4&usageType=1'\n\nif (env.get('inctax')) {\n    msg.url += '&inclBtw=true'\n} else {\n    msg.url += '&inclBtw=false'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 145,
        "y": 660,
        "wires": [
            [
                "ceb1920bcf1ab523",
                "7a1e63de9bb2f37a"
            ]
        ]
    },
    {
        "id": "fb8fd45508a89327",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 545,
        "y": 660,
        "wires": [
            [
                "1623503841fc5371",
                "40f9c6699953e407",
                "f8c326e33f466353",
                "853a6c45f62c6715",
                "54c7407427577956"
            ]
        ]
    },
    {
        "id": "1623503841fc5371",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy",
        "func": "const d = new Date();\n\nvar hourOffset = 0\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 660,
        "wires": [
            [
                "1151b71ad9659527"
            ]
        ]
    },
    {
        "id": "40f9c6699953e407",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +1h",
        "func": "const d = new Date();\n\nvar hourOffset = 1\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 735,
        "wires": [
            [
                "a340d67a92bb9734"
            ]
        ]
    },
    {
        "id": "f8c326e33f466353",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +2h",
        "func": "const d = new Date();\n\nvar hourOffset = 2\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 780,
        "wires": [
            [
                "9aabd57425ef615e"
            ]
        ]
    },
    {
        "id": "a340d67a92bb9734",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 735,
        "wires": [
            [
                "13c532fb6d67aa1d"
            ]
        ]
    },
    {
        "id": "9aabd57425ef615e",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 780,
        "wires": [
            [
                "81f74b166c939517"
            ]
        ]
    },
    {
        "id": "cc681020f3c935b2",
        "type": "http request",
        "z": "57f685082443c4d2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 330,
        "wires": [
            [
                "2fd19d2a660645a0",
                "b0f067190a47ccaf"
            ]
        ]
    },
    {
        "id": "d97a3c15b1973607",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "create anwb url",
        "func": "msg.url = 'https://api.energyzero.nl/v1/energyprices';\n//msg.url = 'https://api.frankenergie.nl/energyprices';\n//msg.url = 'https://enever.nl/api/stroomprijs_vandaag.php?' ;\n//msg.url = 'https://mijn.easyenergy.com/nl/api/tariff/getapxtariffs?startTimestamp=2020-04-29T22%3A00%3A00.000Z&endTimestamp=2020-04-30T22%3A00%3A00.000Z&grouping=';\nvar offset = 0;\nmsg.delay = 0;\nvar start = new Date();\n\nif (env.get('type') == 'tomorrow') {\n    offset = 24;\n    const targetTime = new Date(start.getFullYear(), start.getMonth(), start.getDate(), 15, 0, 0);\n    msg.delay = targetTime.getTime() - start.getTime();\n}\n\nstart.setUTCHours(0 + offset, start.getTimezoneOffset(), 0, 0);\nmsg.url += '?fromDate=' + start.toISOString();\n\nvar end = new Date();\nend.setUTCHours(23 + offset, start.getTimezoneOffset()+59, 59, 999);\nmsg.url += '&tillDate=' + end.toISOString();\n\nmsg.url += '&interval=4&usageType=1';\n\nif (env.get('inctax')) {\n    msg.url += '&inclBtw=true'\n} else {\n    msg.url += '&inclBtw=false'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 215,
        "y": 300,
        "wires": [
            [
                "cc681020f3c935b2",
                "35fda8a607a289e9"
            ]
        ]
    },
    {
        "id": "2fd19d2a660645a0",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "e2069a2aa9bfefc3",
                "e97cf11550d5eb78",
                "f87d9b70593c793b",
                "7574f0c617101b3e",
                "74a09b239c3ab860"
            ]
        ]
    },
    {
        "id": "6d3df1de0441d7b4",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Hour",
        "func": "//msg.payload = {};\n\nconst d = new Date();\nlet hour = d.getHours();\n//let value = payload.average();\n\n//var msg = payload.Prices[hour].price;\nmsg.payload = msg.array[hour];\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "f16b3d76f68824d3"
            ]
        ]
    },
    {
        "id": "e2069a2aa9bfefc3",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price",
        "func": "const d = new Date();\n\nvar hourOffset = 0\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "a7f3a273453d8d0f"
            ]
        ]
    },
    {
        "id": "e97cf11550d5eb78",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Next Hour",
        "func": "const d = new Date();\n\nvar hourOffset = 1\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 345,
        "wires": [
            []
        ]
    },
    {
        "id": "f87d9b70593c793b",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+2",
        "func": "const d = new Date();\n\nvar hourOffset = 2\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "7574f0c617101b3e",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+3",
        "func": "const d = new Date();\n\nvar hourOffset = 3\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 435,
        "wires": [
            []
        ]
    },
    {
        "id": "74a09b239c3ab860",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+4",
        "func": "const d = new Date();\n\nvar hourOffset = 4\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "853a6c45f62c6715",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +3h",
        "func": "const d = new Date();\n\nvar hourOffset = 3\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 825,
        "wires": [
            [
                "4185de23a8b4a2f0"
            ]
        ]
    },
    {
        "id": "4185de23a8b4a2f0",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 825,
        "wires": [
            [
                "2e2b7448b6d470a7"
            ]
        ]
    },
    {
        "id": "54c7407427577956",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +4h",
        "func": "const d = new Date();\n\nvar hourOffset = 4\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 870,
        "wires": [
            [
                "ba2714562fb2d483"
            ]
        ]
    },
    {
        "id": "ba2714562fb2d483",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 935,
        "y": 870,
        "wires": [
            [
                "ac4d1ea57b82e6d3"
            ]
        ]
    },
    {
        "id": "1151b71ad9659527",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "84f2961880dd2e92"
            ]
        ]
    },
    {
        "id": "84f2961880dd2e92",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "13c532fb6d67aa1d",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1055,
        "y": 735,
        "wires": [
            []
        ]
    },
    {
        "id": "81f74b166c939517",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2e2b7448b6d470a7",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 825,
        "wires": [
            []
        ]
    },
    {
        "id": "ac4d1ea57b82e6d3",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "e338b8751e2f39ca",
        "type": "debug",
        "z": "57f685082443c4d2",
        "d": true,
        "name": "Current hour and price",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1115,
        "y": 165,
        "wires": []
    },
    {
        "id": "f16b3d76f68824d3",
        "type": "delay",
        "z": "57f685082443c4d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "a7f3a273453d8d0f",
        "type": "delay",
        "z": "57f685082443c4d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "35fda8a607a289e9",
        "type": "axios-request",
        "z": "57f685082443c4d2",
        "name": "",
        "endpoint": "1ebca2d371ef2ffa",
        "method": "get",
        "url": "",
        "responseType": "arraybuffer",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [],
        "params": [],
        "x": 400,
        "y": 270,
        "wires": [
            [
                "2fd19d2a660645a0"
            ]
        ]
    },
    {
        "id": "281ee16c236b218d",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 640,
        "y": 225,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "7a1e63de9bb2f37a",
        "type": "axios-request",
        "z": "57f685082443c4d2",
        "name": "",
        "endpoint": "1ebca2d371ef2ffa",
        "method": "get",
        "url": "",
        "responseType": "arraybuffer",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [],
        "params": [],
        "x": 355,
        "y": 630,
        "wires": [
            [
                "fb8fd45508a89327"
            ]
        ]
    },
    {
        "id": "84e881cd8e4d8da0",
        "type": "comment",
        "z": "57f685082443c4d2",
        "name": "request node is broken in node-red 4.0",
        "info": "",
        "x": 405,
        "y": 360,
        "wires": []
    },
    {
        "id": "d517b282b99dea38",
        "type": "comment",
        "z": "57f685082443c4d2",
        "name": "use axios node: node-red 4.0",
        "info": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0f067190a47ccaf",
        "type": "debug",
        "z": "57f685082443c4d2",
        "d": true,
        "name": "debug 95",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 585,
        "y": 390,
        "wires": []
    },
    {
        "id": "3d7a0126f02a3d91",
        "type": "tls-config",
        "z": "57f685082443c4d2",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "6e4d5124a659643b",
        "type": "tls-config",
        "z": "57f685082443c4d2",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1ebca2d371ef2ffa",
        "type": "axios-endpoint",
        "z": "57f685082443c4d2",
        "name": "",
        "baseURL": "https://",
        "caCertPath": "",
        "rejectUnauthorized": true,
        "proxyEnabled": false,
        "proxyProtocol": "https",
        "proxyHost": "",
        "proxyPort": ""
    },
    {
        "id": "25bf8357da0a1632",
        "type": "subflow",
        "name": "stat",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 695,
                "y": 120,
                "wires": [
                    {
                        "id": "c0f80345ad414164",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 180,
                "wires": [
                    {
                        "id": "55409281823c26d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 240,
                "wires": [
                    {
                        "id": "16199f188e79a3ac",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 285,
                "wires": [
                    {
                        "id": "967f32ee6b345a64",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#ffccff",
        "icon": "node-red/db.svg",
        "status": {
            "x": 695,
            "y": 360,
            "wires": [
                {
                    "id": "a3847ea01f45c864",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "30942bf69a67ef04",
        "type": "comment",
        "z": "25bf8357da0a1632",
        "name": "Status stored parameter",
        "info": "",
        "x": 265,
        "y": 60,
        "wires": []
    },
    {
        "id": "c0f80345ad414164",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "InverterPower",
        "func": " msg.payload = global.get(\"InverterPower\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 575,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55409281823c26d8",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "Marge",
        "func": "msg.payload = global.get(\"Marge\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 545,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "16199f188e79a3ac",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "CurrentPrice",
        "func": "msg.payload = global.get(\"CurrentPrice\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "967f32ee6b345a64",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "PriceLimit",
        "func": "msg.payload = global.get(\"PriceLimit\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 555,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "2af03e35e7cf63f7",
        "type": "inject",
        "z": "25bf8357da0a1632",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 295,
        "y": 180,
        "wires": [
            [
                "c0f80345ad414164",
                "55409281823c26d8",
                "16199f188e79a3ac",
                "967f32ee6b345a64",
                "a3847ea01f45c864"
            ]
        ]
    },
    {
        "id": "a3847ea01f45c864",
        "type": "trigger",
        "z": "25bf8357da0a1632",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 515,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2c746c2c4d6a988f",
        "type": "subflow",
        "name": "Price Limiter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 85,
                "y": 165,
                "wires": [
                    {
                        "id": "283d493252e3c182"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1335,
                "y": 300,
                "wires": [
                    {
                        "id": "48f7f36e4dd9cee3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1335,
                "y": 435,
                "wires": [
                    {
                        "id": "2cc4f478b49fd701",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Current Price Input"
        ],
        "outputLabels": [
            "Output 5 or 100% ",
            "Output PriceLimit"
        ],
        "icon": "node-red-dashboard/ui_slider.png",
        "status": {
            "x": 740,
            "y": 405,
            "wires": [
                {
                    "id": "7c6ce3aff64c0250",
                    "port": 0
                },
                {
                    "id": "e6dc37b5ef30adad",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "283d493252e3c182",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "CurrentPrice",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CurrentPrice",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 165,
        "wires": [
            [
                "2cc4f478b49fd701"
            ]
        ]
    },
    {
        "id": "2cc4f478b49fd701",
        "type": "Comparator",
        "z": "2c746c2c4d6a988f",
        "name": "Comparator",
        "property": "payload",
        "math": "<=",
        "topic1": "CurrentPrice",
        "topic2": "PriceLimit",
        "x": 965,
        "y": 210,
        "wires": [
            [
                "48f7f36e4dd9cee3"
            ]
        ]
    },
    {
        "id": "8b4b56690ce36a28",
        "type": "inject",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "PriceLimit",
        "payloadType": "global",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "7c6ce3aff64c0250",
                "e6dc37b5ef30adad"
            ]
        ]
    },
    {
        "id": "48f7f36e4dd9cee3",
        "type": "function",
        "z": "2c746c2c4d6a988f",
        "name": "Power Limit 0 or 100 %",
        "func": "var compare = msg.payload ;\n\nswitch(compare) {\n  case true:\n    var Limfactor = 5\n    break;\n  case false:\n    var Limfactor = 100\n    break;\n  default:\n    var Limfactor = 100\n}\n\n\n\nreturn [{ payload: Limfactor }];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1205,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "fd1fe29694d89c4f",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "Last",
        "rules": [
            {
                "t": "set",
                "p": "PriceLimit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "e6dc37b5ef30adad",
        "type": "ui_slider",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "PriceLimit",
        "topicType": "str",
        "min": "-0.75",
        "max": "0.75",
        "step": "0.01",
        "className": "",
        "x": 350,
        "y": 405,
        "wires": [
            [
                "fd1fe29694d89c4f",
                "7c6ce3aff64c0250"
            ]
        ]
    },
    {
        "id": "3ca2abeb32ff156b",
        "type": "inject",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "CurrentPrice",
        "payloadType": "global",
        "x": 190,
        "y": 45,
        "wires": [
            [
                "283d493252e3c182"
            ]
        ]
    },
    {
        "id": "7c6ce3aff64c0250",
        "type": "function",
        "z": "2c746c2c4d6a988f",
        "name": "Start value after deploy",
        "func": "var limit = global.get(\"PriceLimit\");\n\nreturn [{payload: limit}];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 300,
        "wires": [
            [
                "d94942fd6a2ff886"
            ]
        ]
    },
    {
        "id": "d94942fd6a2ff886",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "PriceLimit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PriceLimit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "2cc4f478b49fd701"
            ]
        ]
    },
    {
        "id": "f5fecfff114983f8",
        "type": "subflow",
        "name": "Stored Inverter Power",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 100,
                "wires": [
                    {
                        "id": "9771e4cc757767da"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#ffff00",
        "icon": "node-red/cog.svg",
        "status": {
            "x": 540,
            "y": 100,
            "wires": [
                {
                    "id": "f5fecfff114983f8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "9771e4cc757767da",
        "type": "function",
        "z": "f5fecfff114983f8",
        "name": "Store Inverter Power",
        "func": "global.set(\"InverterPower\",msg.payload) ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d9179c71c5c1cbaf",
        "type": "function",
        "z": "f5fecfff114983f8",
        "name": "Read Stored Power from storage",
        "func": "var InvPwr = global.get(\"InverterPower\");\nmsg.payload = InvPwr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "79c1f67fdc5babde"
            ]
        ]
    },
    {
        "id": "79c1f67fdc5babde",
        "type": "debug",
        "z": "f5fecfff114983f8",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "328d432decbb866f",
        "type": "inject",
        "z": "f5fecfff114983f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "InverterPower",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "d9179c71c5c1cbaf"
            ]
        ]
    },
    {
        "id": "b9fe8f8b757e29ca",
        "type": "subflow",
        "name": "Power Limiter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 220,
                "wires": [
                    {
                        "id": "50c3d9c2b51a5bf5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1105,
                "y": 220,
                "wires": [
                    {
                        "id": "b7ea51d1b21374af",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1105,
                "y": 280,
                "wires": [
                    {
                        "id": "af5541cf58d6f8c5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Actual use input"
        ],
        "outputLabels": [
            "Output 0 - 100%",
            "Output in Watt"
        ],
        "icon": "node-red-dashboard/ui_slider.png"
    },
    {
        "id": "50c3d9c2b51a5bf5",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "Power limit factor",
        "func": "//var Marge = 400 ;\n//var Limfactor = (msg.payload + Marge) / 5000 ;\nvar factor = global.get(\"InverterPower\");\nvar Limfactor = (msg.payload) / factor ; // 5000;\nreturn [{ payload: Limfactor }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "9ddd8bf4a4dbe001"
            ]
        ]
    },
    {
        "id": "6c358d17ae1ca89f",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "* 100",
        "func": "var lim = msg.payload *100 ;\nvar limit = Math.ceil(lim) ; \nreturn [{payload: limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b7ea51d1b21374af"
            ]
        ]
    },
    {
        "id": "9ddd8bf4a4dbe001",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "abs",
        "func": "var abs = Math.abs(msg.payload);\n\nreturn [{ payload: abs }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 455,
        "y": 220,
        "wires": [
            [
                "6c358d17ae1ca89f"
            ]
        ]
    },
    {
        "id": "b7ea51d1b21374af",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "range (min-max)",
        "func": "var min = 0 ;\nvar max = 100 ;\n\nvar limit = msg.payload ;\n\nif (limit > max) {\n    limit = max;\n} else if (limit < min) {\n    limit = min;\n} \n\n\nreturn[{payload:limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725,
        "y": 220,
        "wires": [
            [
                "af5541cf58d6f8c5"
            ]
        ]
    },
    {
        "id": "af5541cf58d6f8c5",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "limit W",
        "func": "var factor = global.get(\"InverterPower\") / 100 ;\nvar lim = msg.payload * factor ; //50; // factor for 5kW  inverter\nreturn [{ payload: lim }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 915,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd64e35ec029de8",
        "type": "tab",
        "label": "SMA Tripower 5.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe736424c99df60",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "01a0b4d2755ef6c1",
            "84d865a0c31f0223",
            "80bfb9c386d52247"
        ],
        "x": 474,
        "y": 199,
        "w": 717,
        "h": 262
    },
    {
        "id": "070bb4f7c28c437a",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "640b85955a50acf8",
            "3db5970c2f038a0b",
            "9331e95f9fefb917",
            "93dace3ba16e7a24",
            "eef088c999bd397e",
            "b34edfe7ad13e503",
            "927367c84a50a384",
            "7e2b593edc107f15",
            "61db35a04b0b234d",
            "6677c8bcae1968ac",
            "2f9f3c6dcdd6d03b",
            "8a8dd2723fdbe4d4",
            "c026d8738f58dbf3",
            "cde02d3433e69474"
        ],
        "x": 464,
        "y": 1589,
        "w": 1158,
        "h": 618
    },
    {
        "id": "231ff49ef1d477a8",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "688f39ff4d6a9aec",
            "ba2fe1c94599da8e",
            "b1b8818555e35992",
            "f6ddd72666eab1c2",
            "c0d7f19624df37ca",
            "57725aa30dac1630",
            "a0c3e4acc8de37af",
            "77db3ff6e2329f44",
            "c375b2cc00544f53",
            "57f1d910afba2781",
            "6a056efbae8beb6f",
            "ac27bebd2c89769b",
            "6002aa962452d731",
            "cdd0ec31cc703247"
        ],
        "x": 1834,
        "y": 1079,
        "w": 1248,
        "h": 588
    },
    {
        "id": "cc4ff9517809eaa0",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "aed75024747eca54",
            "f5b82462d192ce49",
            "88bc2257f93549b0",
            "d7b786ce5cadce28",
            "a19c92e07ae69f4f",
            "a1eb5cd1aea245ef",
            "c2bcbda4f9fe2c56",
            "da5724b4a5ec2de6",
            "4762990771897842",
            "72b4738c26a5af0e",
            "e97b71c298f6cfd1",
            "86770572231967b0",
            "c94f3a76f92ba99d",
            "4ec72775582476f4",
            "54d82efaaf8ca78c",
            "0a23d3824719273d"
        ],
        "x": 464,
        "y": 1049,
        "w": 1318,
        "h": 492
    },
    {
        "id": "ec19b3b5bd23ee2b",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "ee331052844eebcf",
            "d20b505f5c74bac6",
            "9f9dbaa7b90b690f",
            "f050d3d90e6c11f0",
            "0444513b2d48c694",
            "233e2cd8026197c5",
            "0669decb503aaef7",
            "b46462f09993eb11",
            "b49abd551c375e86",
            "7691a9f3726d48ec",
            "b1a3371513ee0b05",
            "dfca0562e25637f4",
            "be9fec46f9f17d56",
            "eaeee07cfc4dcd21",
            "cb673c9dd8231db9",
            "230fd0f375ce3022",
            "e835d796179787ed",
            "830bd4e3f988773f",
            "cefb139c913d0f8f",
            "dfcecda9ccf333b5",
            "33d744fe95b8a8f2",
            "32eb2ef04de801e0"
        ],
        "x": 468,
        "y": 493,
        "w": 2544,
        "h": 528
    },
    {
        "id": "0e9ccc3b5dad57d2",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "Reading the Inverter limitation register",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "92a5a3f2695b5a3d",
            "fd515d593e3c177d",
            "7b4c47b1c1ac3fe4",
            "7c83e8521a71f9f0",
            "16d3b6405978a4af",
            "2234d9e213e93136",
            "ce4201cdf717c9db",
            "06a1b13733b68412",
            "35bbfb7cf6fc519c",
            "8587a1de842f0afe",
            "2f1587a324e00a90"
        ],
        "x": 1354,
        "y": 199,
        "w": 1538,
        "h": 267
    },
    {
        "id": "55455da467e49811",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#92d04f",
            "label": true
        },
        "nodes": [
            "21e8678a0647bc06"
        ],
        "x": 2684,
        "y": 49,
        "w": 192,
        "h": 82
    },
    {
        "id": "c4339d1cfeb12c12",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "Read Status global variables (Context Data)",
        "style": {
            "label": true,
            "fill": "#ffccff",
            "color": "#000000"
        },
        "nodes": [
            "597ad3caa53d1782",
            "4a07a9d6ab63839a",
            "217fa27d6b0bed70",
            "ee59c1238a80cff2",
            "ab7b22b4e115eaf6"
        ],
        "x": 1854,
        "y": 1944,
        "w": 442,
        "h": 127
    },
    {
        "id": "0669decb503aaef7",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "enable injects for testing offline",
        "style": {
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "2db0bfb2829055c7",
            "99a99a4bbb72a6aa",
            "05c125221d282d8e"
        ],
        "x": 1144,
        "y": 559,
        "w": 252,
        "h": 172
    },
    {
        "id": "b46462f09993eb11",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Home Power Use other flow (Required)",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "366ee18e24cd3305",
            "a99a5b2d28888a72"
        ],
        "x": 494,
        "y": 769,
        "w": 262,
        "h": 82
    },
    {
        "id": "b49abd551c375e86",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Solar input other flow (Optional)",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "05addc909e21ca16",
            "bf06e8f9cb296f7f"
        ],
        "x": 504,
        "y": 559,
        "w": 232,
        "h": 82
    },
    {
        "id": "be9fec46f9f17d56",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "SMA Power Limiter  UI",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#001f60"
        },
        "nodes": [
            "395f5b896dd31c17",
            "11ed5f08d2b0420c",
            "18c7c8c5c1966e6d",
            "87381a6e25c61713",
            "bbaec97162be3fed",
            "6b907b83e0be5f92",
            "035f599b920ff0f3",
            "c30d08e43f523247",
            "7bc79af72ab37da6",
            "1cf2ea0ef85db52c",
            "0a3d51df55ca95c8",
            "a6b803d66db5a6c3",
            "27a9eeb63ff9fcb6",
            "ba4214a2715168e5",
            "09319a3410c8b0ef",
            "4b74e95b707b8ecc",
            "4a1cc21236e1f0d1"
        ],
        "x": 2364,
        "y": 519,
        "w": 622,
        "h": 432
    },
    {
        "id": "86770572231967b0",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "SMA Power Limiter  UI",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#001f60"
        },
        "nodes": [
            "29a3abe693ef078b",
            "0c8db32cf3fe8b2a",
            "59dadf69390ee558",
            "b88bc4f60c0fdff9",
            "dc0cb516731aa03d",
            "3b410d08bd28f07f"
        ],
        "x": 1394,
        "y": 1139,
        "w": 362,
        "h": 312
    },
    {
        "id": "2f1587a324e00a90",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Power Limiter  UI",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000"
        },
        "nodes": [
            "ac4ed4a12c05ec8b",
            "4ef381d3a445d0bb",
            "2446ffde87593b64",
            "3576136b2ffd6b02",
            "7037e24e1f7f36e3",
            "37e7c3c1c1d41810",
            "d6de1209125705c9",
            "137a08a52ca132d6"
        ],
        "x": 2264,
        "y": 229,
        "w": 602,
        "h": 142
    },
    {
        "id": "ac27bebd2c89769b",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "SMA Power Limiter  UI",
        "style": {
            "label": true,
            "fill": "#7fb7df",
            "color": "#000000"
        },
        "nodes": [
            "1adac31acbf72c0b",
            "c64f03984f562244",
            "7e56c3188137fcd1",
            "4d8636680842b21f"
        ],
        "x": 2734,
        "y": 1439,
        "w": 322,
        "h": 202
    },
    {
        "id": "2f9f3c6dcdd6d03b",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "SMA Power Limiter  UI",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1f5641ee1f3574bc",
            "8535d7c48ab4882c",
            "8691ef1e3912e551",
            "261152a46d805d54",
            "3443304056e2d715",
            "51748cea0a8b2773",
            "85f42374e5914d3c",
            "7cc1d3ec6b0b4680",
            "3b18d210b3e2f975",
            "d146f0010a5d5510",
            "9b1c3425441bf3ea",
            "968f662bb93cd384",
            "ac4c0fa3e7ac9373",
            "eab1d9bc025f9755",
            "c74d67f6d2608b2a",
            "78bdd01b021ec624",
            "59c1083564a12117"
        ],
        "x": 1154,
        "y": 1809,
        "w": 442,
        "h": 372
    },
    {
        "id": "cb673c9dd8231db9",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Battery Input other flow (Optional)",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "a28dfe576d151ce9",
            "099c7ea435402087"
        ],
        "x": 494,
        "y": 889,
        "w": 272,
        "h": 82
    },
    {
        "id": "7bc79af72ab37da6",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2610,
        "y": 690,
        "wires": [
            [
                "395f5b896dd31c17",
                "09319a3410c8b0ef"
            ]
        ]
    },
    {
        "id": "1cf2ea0ef85db52c",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2530,
        "y": 600,
        "wires": [
            [
                "18c7c8c5c1966e6d",
                "4b74e95b707b8ecc"
            ]
        ]
    },
    {
        "id": "0a3d51df55ca95c8",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2630,
        "y": 890,
        "wires": [
            [
                "87381a6e25c61713",
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "a6b803d66db5a6c3",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2600,
        "y": 870,
        "wires": [
            [
                "87381a6e25c61713",
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "27a9eeb63ff9fcb6",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2570,
        "y": 810,
        "wires": [
            [
                "11ed5f08d2b0420c",
                "87381a6e25c61713"
            ]
        ]
    },
    {
        "id": "ba4214a2715168e5",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "x": 2570,
        "y": 770,
        "wires": [
            [
                "11ed5f08d2b0420c",
                "87381a6e25c61713"
            ]
        ]
    },
    {
        "id": "6002aa962452d731",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "x": 2370,
        "y": 1500,
        "wires": [
            [
                "b1b8818555e35992"
            ]
        ]
    },
    {
        "id": "cdd0ec31cc703247",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "x": 2240,
        "y": 1290,
        "wires": [
            [
                "ba2fe1c94599da8e",
                "b1b8818555e35992"
            ]
        ]
    },
    {
        "id": "7e56c3188137fcd1",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "ac27bebd2c89769b",
        "x": 2760,
        "y": 1500,
        "wires": [
            [
                "1adac31acbf72c0b",
                "4d8636680842b21f"
            ]
        ]
    },
    {
        "id": "eaeee07cfc4dcd21",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "x": 1690,
        "y": 690,
        "wires": [
            [
                "7bc79af72ab37da6"
            ]
        ]
    },
    {
        "id": "7037e24e1f7f36e3",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "x": 2290,
        "y": 280,
        "wires": [
            [
                "ac4ed4a12c05ec8b",
                "d6de1209125705c9"
            ]
        ]
    },
    {
        "id": "37e7c3c1c1d41810",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "x": 2310,
        "y": 330,
        "wires": [
            [
                "4ef381d3a445d0bb",
                "137a08a52ca132d6"
            ]
        ]
    },
    {
        "id": "d146f0010a5d5510",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "x": 1180,
        "y": 1860,
        "wires": [
            [
                "1f5641ee1f3574bc",
                "3443304056e2d715",
                "eab1d9bc025f9755"
            ]
        ]
    },
    {
        "id": "9b1c3425441bf3ea",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "x": 1200,
        "y": 1950,
        "wires": [
            [
                "8535d7c48ab4882c",
                "c74d67f6d2608b2a"
            ]
        ]
    },
    {
        "id": "968f662bb93cd384",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "x": 1190,
        "y": 2030,
        "wires": [
            [
                "8691ef1e3912e551",
                "78bdd01b021ec624"
            ]
        ]
    },
    {
        "id": "ac4c0fa3e7ac9373",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "x": 1190,
        "y": 2110,
        "wires": [
            [
                "261152a46d805d54",
                "59c1083564a12117"
            ]
        ]
    },
    {
        "id": "cefb139c913d0f8f",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "x": 1160,
        "y": 870,
        "wires": [
            [
                "0a23d3824719273d"
            ]
        ]
    },
    {
        "id": "dfcecda9ccf333b5",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "x": 1690,
        "y": 920,
        "wires": [
            [
                "0444513b2d48c694",
                "4a1cc21236e1f0d1"
            ]
        ]
    },
    {
        "id": "0a23d3824719273d",
        "type": "junction",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "x": 870,
        "y": 1260,
        "wires": [
            [
                "d7b786ce5cadce28"
            ]
        ]
    },
    {
        "id": "2234d9e213e93136",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1470,
        "y": 320,
        "wires": [
            [
                "7c83e8521a71f9f0",
                "06a1b13733b68412",
                "ce4201cdf717c9db"
            ]
        ]
    },
    {
        "id": "7c83e8521a71f9f0",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "720661e550c2de19",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 1730,
        "y": 320,
        "wires": [
            [
                "92a5a3f2695b5a3d",
                "fd515d593e3c177d"
            ],
            []
        ]
    },
    {
        "id": "ac4ed4a12c05ec8b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "group": "4fb0db5cea9cd881",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "Power limit %",
        "label": "SMA Power Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 2400,
        "y": 270,
        "wires": []
    },
    {
        "id": "92a5a3f2695b5a3d",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Power Limit",
        "func": "var limit = msg.payload[0] /100;\n\n\n\nreturn [{ payload: limit }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 280,
        "wires": [
            [
                "7b4c47b1c1ac3fe4",
                "7037e24e1f7f36e3"
            ]
        ]
    },
    {
        "id": "688f39ff4d6a9aec",
        "type": "ui_slider",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 2120,
        "y": 1170,
        "wires": [
            [
                "cdd0ec31cc703247"
            ]
        ]
    },
    {
        "id": "4ef381d3a445d0bb",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "group": "4fb0db5cea9cd881",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 2410,
        "y": 330,
        "wires": []
    },
    {
        "id": "fd515d593e3c177d",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Power Limit % to W , sma 5kW",
        "func": "var factor = global.get(\"InverterPower\") /10000 ;\n\nvar pro = msg.payload[0] * factor ; // 0.5; // factor 0.5 for 5kW  inverter\n\n\n\nreturn [{ payload: pro }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 330,
        "wires": [
            [
                "ee331052844eebcf",
                "37e7c3c1c1d41810"
            ]
        ]
    },
    {
        "id": "ba2fe1c94599da8e",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "* 100",
        "func": "var lim = msg.payload *100;\nreturn [{payload: lim}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 1290,
        "wires": [
            [
                "57725aa30dac1630",
                "77db3ff6e2329f44",
                "c375b2cc00544f53",
                "57f1d910afba2781"
            ]
        ]
    },
    {
        "id": "b1b8818555e35992",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "% to Watt , sma 5kW",
        "func": "var factor = global.get(\"InverterPower\") / 100 ;\nvar lim = msg.payload * factor ; //50; // factor for 5kW  inverter\nreturn [{payload: lim}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 1500,
        "wires": [
            [
                "7e56c3188137fcd1"
            ]
        ]
    },
    {
        "id": "1adac31acbf72c0b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "ac27bebd2c89769b",
        "group": "4fb0db5cea9cd881",
        "order": 9,
        "width": 2,
        "height": 1,
        "name": "set:",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#19e119",
        "x": 2890,
        "y": 1480,
        "wires": []
    },
    {
        "id": "16d3b6405978a4af",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Read Modbus values",
        "info": "",
        "x": 1740,
        "y": 260,
        "wires": []
    },
    {
        "id": "f6ddd72666eab1c2",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Write Modbus Register",
        "info": "",
        "x": 2700,
        "y": 1210,
        "wires": []
    },
    {
        "id": "aed75024747eca54",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Dynamic Power Control ",
        "info": "",
        "x": 1030,
        "y": 1090,
        "wires": []
    },
    {
        "id": "a99a5b2d28888a72",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "g": "b46462f09993eb11",
        "name": "actual use in 1",
        "links": [
            "b792982110625bd6"
        ],
        "x": 715,
        "y": 810,
        "wires": [
            [
                "230fd0f375ce3022"
            ]
        ]
    },
    {
        "id": "366ee18e24cd3305",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "b46462f09993eb11",
        "name": "actual use in",
        "info": "actual use in: Use your own payload",
        "x": 590,
        "y": 810,
        "wires": []
    },
    {
        "id": "395f5b896dd31c17",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "4fb0db5cea9cd881",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Actual",
        "label": "Actual Use",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#0a95eb",
        "x": 2690,
        "y": 650,
        "wires": []
    },
    {
        "id": "29a3abe693ef078b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "group": "4fb0db5cea9cd881",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Dynamic Limit",
        "label": "Calc. Dynamic Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#969696",
        "x": 1540,
        "y": 1180,
        "wires": []
    },
    {
        "id": "c0d7f19624df37ca",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Manual Power Limit Slider",
        "info": "",
        "x": 2220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a0c3e4acc8de37af",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Daily reset to 100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 1980,
        "y": 1390,
        "wires": [
            [
                "688f39ff4d6a9aec",
                "6a056efbae8beb6f"
            ]
        ]
    },
    {
        "id": "0c8db32cf3fe8b2a",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "group": "4fb0db5cea9cd881",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#969696",
        "x": 1510,
        "y": 1220,
        "wires": []
    },
    {
        "id": "11ed5f08d2b0420c",
        "type": "ui_chart",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "name": "",
        "group": "4fb0db5cea9cd881",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "SMA Tripower 5.0",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#21a1de",
            "#5fad47",
            "#ffcb13",
            "#ff7d0f",
            "#98df8a",
            "#c3f05a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2770,
        "y": 770,
        "wires": [
            []
        ]
    },
    {
        "id": "ee331052844eebcf",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "ec19b3b5bd23ee2b",
        "name": "Powerlimit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "P-Limit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2200,
        "y": 540,
        "wires": [
            [
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "d20b505f5c74bac6",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Actual Use",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Act. Use",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 810,
        "wires": [
            [
                "0444513b2d48c694"
            ]
        ]
    },
    {
        "id": "9f9dbaa7b90b690f",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Actual use",
        "func": "\nvar Actual = msg.payload ;\nreturn [{ payload: Actual }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 810,
        "wires": [
            [
                "d20b505f5c74bac6",
                "eaeee07cfc4dcd21"
            ]
        ]
    },
    {
        "id": "f5b82462d192ce49",
        "type": "ui_numeric",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "marge",
        "label": "Marge",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 10,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "Marge",
        "topicType": "msg",
        "format": "{{value}} W",
        "min": 0,
        "max": "1000",
        "step": "50",
        "className": "",
        "x": 750,
        "y": 1400,
        "wires": [
            [
                "88bc2257f93549b0",
                "a1eb5cd1aea245ef"
            ]
        ]
    },
    {
        "id": "88bc2257f93549b0",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Marge",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Marge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1350,
        "wires": [
            [
                "d7b786ce5cadce28",
                "72b4738c26a5af0e"
            ]
        ]
    },
    {
        "id": "d7b786ce5cadce28",
        "type": "SumUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "actual",
        "property": "payload",
        "math": "sum",
        "x": 1060,
        "y": 1260,
        "wires": [
            [
                "c2bcbda4f9fe2c56",
                "54d82efaaf8ca78c"
            ]
        ]
    },
    {
        "id": "a19c92e07ae69f4f",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Last Used",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "Marge",
        "payloadType": "global",
        "x": 580,
        "y": 1350,
        "wires": [
            [
                "f5b82462d192ce49",
                "88bc2257f93549b0",
                "c94f3a76f92ba99d"
            ]
        ]
    },
    {
        "id": "a1eb5cd1aea245ef",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "last",
        "rules": [
            {
                "t": "set",
                "p": "Marge",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "05addc909e21ca16",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "g": "b49abd551c375e86",
        "name": "AC solar pwr",
        "links": [
            "b07ce420a9bbb0b2"
        ],
        "x": 695,
        "y": 600,
        "wires": [
            [
                "f050d3d90e6c11f0",
                "7691a9f3726d48ec"
            ]
        ]
    },
    {
        "id": "bf06e8f9cb296f7f",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "b49abd551c375e86",
        "name": "Solar power in",
        "info": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "f050d3d90e6c11f0",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Solar Power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Solar Pwr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 600,
        "wires": [
            [
                "233e2cd8026197c5",
                "1cf2ea0ef85db52c"
            ]
        ]
    },
    {
        "id": "0444513b2d48c694",
        "type": "delay",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1910,
        "y": 810,
        "wires": [
            [
                "b1a3371513ee0b05",
                "27a9eeb63ff9fcb6"
            ]
        ]
    },
    {
        "id": "233e2cd8026197c5",
        "type": "delay",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1920,
        "y": 770,
        "wires": [
            [
                "dfca0562e25637f4",
                "ba4214a2715168e5"
            ]
        ]
    },
    {
        "id": "640b85955a50acf8",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Dynamic Price Control",
        "info": "",
        "x": 710,
        "y": 1630,
        "wires": []
    },
    {
        "id": "1f5641ee1f3574bc",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "group": "4fb0db5cea9cd881",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "Current Price",
        "label": "Current Price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1310,
        "y": 1860,
        "wires": []
    },
    {
        "id": "8535d7c48ab4882c",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "group": "4fb0db5cea9cd881",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "Next hour",
        "label": "Next hour",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1300,
        "y": 1940,
        "wires": []
    },
    {
        "id": "8691ef1e3912e551",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "2f9f3c6dcdd6d03b",
        "group": "4fb0db5cea9cd881",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "Price +2h",
        "label": "Price: +2h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1300,
        "y": 2020,
        "wires": []
    },
    {
        "id": "261152a46d805d54",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "2f9f3c6dcdd6d03b",
        "group": "4fb0db5cea9cd881",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "Price +3h",
        "label": "Price +3h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1300,
        "y": 2100,
        "wires": []
    },
    {
        "id": "c2bcbda4f9fe2c56",
        "type": "subflow:b9fe8f8b757e29ca",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 1240,
        "y": 1190,
        "wires": [
            [
                "29a3abe693ef078b",
                "da5724b4a5ec2de6"
            ],
            [
                "0c8db32cf3fe8b2a"
            ]
        ]
    },
    {
        "id": "05c125221d282d8e",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0669decb503aaef7",
        "name": "test actual use in",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3333",
        "payloadType": "num",
        "x": 1280,
        "y": 690,
        "wires": [
            [
                "9f9dbaa7b90b690f"
            ]
        ],
        "icon": "font-awesome/fa-wrench"
    },
    {
        "id": "2db0bfb2829055c7",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0669decb503aaef7",
        "name": "test solar in",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4589",
        "payloadType": "num",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "f050d3d90e6c11f0"
            ]
        ],
        "icon": "font-awesome/fa-wrench"
    },
    {
        "id": "99a99a4bbb72a6aa",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "0669decb503aaef7",
        "name": "TESTING VALUES",
        "info": "",
        "x": 1265,
        "y": 645,
        "wires": []
    },
    {
        "id": "01a0b4d2755ef6c1",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "Set Inverter Power Here [Watt], (Sum of all inverters)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "84d865a0c31f0223"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "84d865a0c31f0223",
        "type": "subflow:f5fecfff114983f8",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "",
        "x": 1065,
        "y": 420,
        "wires": []
    },
    {
        "id": "80bfb9c386d52247",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "CONFIGURE: TOTAL INVERTER POWER",
        "info": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "18c7c8c5c1966e6d",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "4fb0db5cea9cd881",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Solar Power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#19e119",
        "x": 2670,
        "y": 560,
        "wires": []
    },
    {
        "id": "3db5970c2f038a0b",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 1065,
        "y": 1680,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "da5724b4a5ec2de6",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 1295,
        "y": 1090,
        "wires": [
            [
                "e97b71c298f6cfd1"
            ]
        ],
        "l": false
    },
    {
        "id": "9331e95f9fefb917",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 1505,
        "y": 1665,
        "wires": [
            [
                "688f39ff4d6a9aec"
            ]
        ],
        "l": false
    },
    {
        "id": "4762990771897842",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 1615,
        "y": 1090,
        "wires": [
            [
                "688f39ff4d6a9aec"
            ]
        ],
        "l": false
    },
    {
        "id": "7b4c47b1c1ac3fe4",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 2135,
        "y": 240,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "57725aa30dac1630",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit )",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "720661e550c2de19",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2700,
        "y": 1290,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21e8678a0647bc06",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "55455da467e49811",
        "name": "Version 0.8.6",
        "info": "Adding UI2.0",
        "x": 2780,
        "y": 90,
        "wires": []
    },
    {
        "id": "93dace3ba16e7a24",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 1190,
        "y": 1665,
        "wires": [
            [
                "6677c8bcae1968ac"
            ]
        ],
        "l": false
    },
    {
        "id": "eef088c999bd397e",
        "type": "subflow:2c746c2c4d6a988f",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 960,
        "y": 1670,
        "wires": [
            [
                "93dace3ba16e7a24"
            ],
            [
                "3db5970c2f038a0b"
            ]
        ]
    },
    {
        "id": "597ad3caa53d1782",
        "type": "subflow:25bf8357da0a1632",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "",
        "x": 1930,
        "y": 2000,
        "wires": [
            [
                "4a07a9d6ab63839a"
            ],
            [
                "217fa27d6b0bed70"
            ],
            [
                "ee59c1238a80cff2"
            ],
            [
                "ab7b22b4e115eaf6"
            ]
        ]
    },
    {
        "id": "4a07a9d6ab63839a",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "InverterPower",
        "property": "payload",
        "x": 2065,
        "y": 1985,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "217fa27d6b0bed70",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "Marge",
        "property": "payload",
        "x": 2205,
        "y": 1985,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "ee59c1238a80cff2",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "CurrentPrice",
        "property": "payload",
        "x": 2055,
        "y": 2030,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "ab7b22b4e115eaf6",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "PriceLimit",
        "property": "payload",
        "x": 2210,
        "y": 2030,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "72b4738c26a5af0e",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 1035,
        "y": 1390,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "77db3ff6e2329f44",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit ) inverter 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2730,
        "y": 1340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c375b2cc00544f53",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit ) inverter 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2730,
        "y": 1390,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ce4201cdf717c9db",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power, Inverter 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1750,
        "y": 425,
        "wires": [
            [
                "8587a1de842f0afe"
            ],
            []
        ]
    },
    {
        "id": "06a1b13733b68412",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power, Inverter 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1750,
        "y": 380,
        "wires": [
            [
                "35bbfb7cf6fc519c"
            ],
            []
        ]
    },
    {
        "id": "35bbfb7cf6fc519c",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 1955,
        "y": 380,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "8587a1de842f0afe",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 1955,
        "y": 425,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "b34edfe7ad13e503",
        "type": "subflow:57f685082443c4d2",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "EnergyPrices",
        "x": 750,
        "y": 1920,
        "wires": [
            [
                "eef088c999bd397e",
                "cde02d3433e69474",
                "d146f0010a5d5510"
            ],
            [
                "9b1c3425441bf3ea"
            ],
            [
                "968f662bb93cd384"
            ],
            [
                "ac4c0fa3e7ac9373"
            ],
            [],
            [
                "7e2b593edc107f15"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "927367c84a50a384",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "rejectUnauthorized",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "array",
                "v": "[\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"21\",\"22\",\"23\"]",
                "vt": "json"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 1920,
        "wires": [
            [
                "b34edfe7ad13e503"
            ]
        ]
    },
    {
        "id": "3443304056e2d715",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "name": "Status",
        "property": "payload",
        "x": 1525,
        "y": 1850,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "7e2b593edc107f15",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 890,
        "y": 1995,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "61db35a04b0b234d",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "070bb4f7c28c437a",
        "name": "Electricity Price",
        "links": [
            "380b93653aa12193"
        ],
        "x": 695,
        "y": 1760,
        "wires": [
            [
                "eef088c999bd397e",
                "1f5641ee1f3574bc"
            ]
        ]
    },
    {
        "id": "6677c8bcae1968ac",
        "type": "subflow:b5ac64c138966e57",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 1380,
        "y": 1665,
        "wires": [
            [
                "9331e95f9fefb917"
            ]
        ]
    },
    {
        "id": "e97b71c298f6cfd1",
        "type": "subflow:0acebdddcd86f1ce",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 1480,
        "y": 1090,
        "wires": [
            [
                "4762990771897842"
            ]
        ]
    },
    {
        "id": "7691a9f3726d48ec",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Status",
        "property": "payload",
        "x": 985,
        "y": 600,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "dfca0562e25637f4",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Status",
        "property": "payload",
        "x": 2055,
        "y": 730,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "b1a3371513ee0b05",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Status",
        "property": "payload",
        "x": 2055,
        "y": 810,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "bbaec97162be3fed",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "name": "Init Sol",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "Solar Pwr",
        "payload": "0",
        "payloadType": "num",
        "x": 2470,
        "y": 880,
        "wires": [
            [
                "0a3d51df55ca95c8"
            ]
        ]
    },
    {
        "id": "6b907b83e0be5f92",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "name": "Init Act",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "Act. Use",
        "payload": "0",
        "payloadType": "num",
        "x": 2470,
        "y": 830,
        "wires": [
            [
                "a6b803d66db5a6c3"
            ]
        ]
    },
    {
        "id": "57f1d910afba2781",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Status",
        "property": "payload",
        "x": 2495,
        "y": 1230,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "87381a6e25c61713",
        "type": "ui-chart",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "f30e13409cbea2ca",
        "name": "SMA Tripower 5.0  UI2.0",
        "label": "SMA Tripower 5.0",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "5",
        "showLegend": true,
        "removeOlder": "30",
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#21a1de",
            "#5fad47",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ffffff"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#333333"
        ],
        "gridColorDefault": false,
        "width": "9",
        "height": "5",
        "className": "",
        "interpolation": "linear",
        "x": 2850,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "6a056efbae8beb6f",
        "type": "ui-slider",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "group": "f30e13409cbea2ca",
        "name": "Power Limit  UI2.0",
        "label": "",
        "tooltip": "",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 2140,
        "y": 1500,
        "wires": [
            [
                "ba2fe1c94599da8e",
                "6002aa962452d731"
            ]
        ]
    },
    {
        "id": "c94f3a76f92ba99d",
        "type": "ui-number-input",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "group": "f30e13409cbea2ca",
        "name": "Marge  UI2.0",
        "label": "Marge",
        "order": 10,
        "width": "5",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "50",
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "right",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "88bc2257f93549b0",
                "a1eb5cd1aea245ef"
            ]
        ]
    },
    {
        "id": "035f599b920ff0f3",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "f30e13409cbea2ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Actual",
        "label": "Actual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#0a96eb",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2880,
        "y": 690,
        "wires": []
    },
    {
        "id": "c30d08e43f523247",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "f30e13409cbea2ca",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Solar Power",
        "label": "Solar Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#00ff00",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2890,
        "y": 600,
        "wires": []
    },
    {
        "id": "c64f03984f562244",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "ac27bebd2c89769b",
        "group": "f30e13409cbea2ca",
        "order": 9,
        "width": "2",
        "height": 1,
        "name": "Set:",
        "label": "",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#19e119",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2980,
        "y": 1530,
        "wires": []
    },
    {
        "id": "59dadf69390ee558",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "group": "f30e13409cbea2ca",
        "order": 4,
        "width": "6",
        "height": 1,
        "name": "Dynamic Limit",
        "label": "Calc. Dynamic Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#969696",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1650,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b88bc4f60c0fdff9",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "group": "f30e13409cbea2ca",
        "order": 5,
        "width": "3",
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#969696",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1640,
        "y": 1410,
        "wires": []
    },
    {
        "id": "2446ffde87593b64",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "group": "f30e13409cbea2ca",
        "order": 6,
        "width": "5",
        "height": 1,
        "name": "Power limit %",
        "label": "SMA Power Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2760,
        "y": 280,
        "wires": []
    },
    {
        "id": "3576136b2ffd6b02",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "group": "f30e13409cbea2ca",
        "order": 7,
        "width": "3",
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-right",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2750,
        "y": 330,
        "wires": []
    },
    {
        "id": "51748cea0a8b2773",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "group": "f30e13409cbea2ca",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "Current Price",
        "label": "Current Price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1500,
        "y": 1900,
        "wires": []
    },
    {
        "id": "85f42374e5914d3c",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "group": "f30e13409cbea2ca",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "Next hour",
        "label": "Next hour",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1510,
        "y": 1980,
        "wires": []
    },
    {
        "id": "7cc1d3ec6b0b4680",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "2f9f3c6dcdd6d03b",
        "group": "f30e13409cbea2ca",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "Price +2h",
        "label": "Price: +2h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1510,
        "y": 2060,
        "wires": []
    },
    {
        "id": "3b18d210b3e2f975",
        "type": "ui-text",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "2f9f3c6dcdd6d03b",
        "group": "f30e13409cbea2ca",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "Price +3h",
        "label": "Price +3h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1510,
        "y": 2140,
        "wires": []
    },
    {
        "id": "8a8dd2723fdbe4d4",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 1155,
        "y": 1750,
        "wires": [
            [
                "c026d8738f58dbf3"
            ]
        ],
        "l": false
    },
    {
        "id": "4ec72775582476f4",
        "type": "subflow:6daf500cc4957e3f",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 1510,
        "y": 1500,
        "wires": [
            [
                "6a056efbae8beb6f"
            ]
        ]
    },
    {
        "id": "54d82efaaf8ca78c",
        "type": "subflow:eef49cec60198b38",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 1250,
        "y": 1350,
        "wires": [
            [
                "4ec72775582476f4",
                "3b410d08bd28f07f"
            ],
            [
                "dc0cb516731aa03d"
            ]
        ]
    },
    {
        "id": "c026d8738f58dbf3",
        "type": "subflow:09d6fac281cb8b29",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 1370,
        "y": 1750,
        "wires": [
            [
                "6a056efbae8beb6f"
            ]
        ]
    },
    {
        "id": "cde02d3433e69474",
        "type": "subflow:3c802b03f163fdb6",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 1010,
        "y": 1760,
        "wires": [
            [
                "8a8dd2723fdbe4d4"
            ],
            []
        ]
    },
    {
        "id": "d6de1209125705c9",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} %\n",
        "output": "str",
        "x": 2590,
        "y": 280,
        "wires": [
            [
                "2446ffde87593b64"
            ]
        ]
    },
    {
        "id": "137a08a52ca132d6",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f1587a324e00a90",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} W",
        "output": "str",
        "x": 2590,
        "y": 330,
        "wires": [
            [
                "3576136b2ffd6b02"
            ]
        ]
    },
    {
        "id": "3b410d08bd28f07f",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} %\n",
        "output": "str",
        "x": 1490,
        "y": 1340,
        "wires": [
            [
                "59dadf69390ee558"
            ]
        ]
    },
    {
        "id": "dc0cb516731aa03d",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "86770572231967b0",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} W",
        "output": "str",
        "x": 1490,
        "y": 1410,
        "wires": [
            [
                "b88bc4f60c0fdff9"
            ]
        ]
    },
    {
        "id": "4d8636680842b21f",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "ac27bebd2c89769b",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} W",
        "output": "str",
        "x": 2840,
        "y": 1600,
        "wires": [
            [
                "c64f03984f562244"
            ]
        ]
    },
    {
        "id": "09319a3410c8b0ef",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} W",
        "output": "str",
        "x": 2720,
        "y": 690,
        "wires": [
            [
                "035f599b920ff0f3"
            ]
        ]
    },
    {
        "id": "4b74e95b707b8ecc",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} W",
        "output": "str",
        "x": 2720,
        "y": 600,
        "wires": [
            [
                "c30d08e43f523247"
            ]
        ]
    },
    {
        "id": "eab1d9bc025f9755",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} euro",
        "output": "str",
        "x": 1310,
        "y": 1900,
        "wires": [
            [
                "51748cea0a8b2773"
            ]
        ]
    },
    {
        "id": "c74d67f6d2608b2a",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} euro",
        "output": "str",
        "x": 1310,
        "y": 1980,
        "wires": [
            [
                "85f42374e5914d3c"
            ]
        ]
    },
    {
        "id": "78bdd01b021ec624",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} euro",
        "output": "str",
        "x": 1310,
        "y": 2060,
        "wires": [
            [
                "7cc1d3ec6b0b4680"
            ]
        ]
    },
    {
        "id": "59c1083564a12117",
        "type": "template",
        "z": "2fd64e35ec029de8",
        "g": "2f9f3c6dcdd6d03b",
        "name": "Add Suffix",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{ payload }} euro",
        "output": "str",
        "x": 1310,
        "y": 2140,
        "wires": [
            [
                "3b18d210b3e2f975"
            ]
        ]
    },
    {
        "id": "099c7ea435402087",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "g": "cb673c9dd8231db9",
        "name": "Battery Power in",
        "links": [
            "59ec2e212ffc4a61"
        ],
        "x": 725,
        "y": 930,
        "wires": [
            [
                "e835d796179787ed"
            ]
        ]
    },
    {
        "id": "a28dfe576d151ce9",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "cb673c9dd8231db9",
        "name": "Battery power in",
        "info": "Batery power in: Use your own payload",
        "x": 600,
        "y": 930,
        "wires": []
    },
    {
        "id": "230fd0f375ce3022",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Actual Use",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Act. Use",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 810,
        "wires": [
            [
                "9f9dbaa7b90b690f",
                "cefb139c913d0f8f",
                "32eb2ef04de801e0"
            ]
        ]
    },
    {
        "id": "e835d796179787ed",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "only pos val",
        "func": "var value = msg.payload ;\n\n\nif (value < 0) {(value = 0 )\n}\n\nreturn [{ payload: value }]\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 930,
        "wires": [
            [
                "830bd4e3f988773f"
            ]
        ]
    },
    {
        "id": "830bd4e3f988773f",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Battery Power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Battery Power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 930,
        "wires": [
            [
                "cefb139c913d0f8f",
                "dfcecda9ccf333b5",
                "33d744fe95b8a8f2"
            ]
        ]
    },
    {
        "id": "33d744fe95b8a8f2",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Status",
        "property": "payload",
        "x": 1045,
        "y": 980,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "32eb2ef04de801e0",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Status",
        "property": "payload",
        "x": 1055,
        "y": 860,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "4a1cc21236e1f0d1",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "be9fec46f9f17d56",
        "group": "4fb0db5cea9cd881",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Battery Power",
        "label": "Battery Charge Power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#fae829",
        "x": 2780,
        "y": 910,
        "wires": []
    },
    {
        "id": "bb0d234c8a50aa7d",
        "type": "ui_spacer",
        "z": "2fd64e35ec029de8",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "720661e550c2de19",
        "type": "modbus-client",
        "name": "SMA Modbus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.4",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "4fb0db5cea9cd881",
        "type": "ui_group",
        "name": "SMA  settings",
        "tab": "cccf47e4.857ec8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "67aa8a7899544f4d",
        "type": "modbus-client",
        "name": "Marstek 1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.7",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "f30e13409cbea2ca",
        "type": "ui-group",
        "name": "SMA Limiter",
        "page": "af2240e5c72311cb",
        "width": "9",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cccf47e4.857ec8",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "battery_charging_60",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c9258a875bc51de",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-boolean-logic-ultimate": "1.2.3",
            "@flowfuse/node-red-dashboard": "1.30.1",
            "node-red-node-smooth": "0.1.2",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-axios": "1.6.0",
            "node-red-contrib-modbus": "5.45.2"
        }
    }
]