NodeRed SMA flow version-0.8.3.json
[
    {
        "id": "57f685082443c4d2",
        "type": "subflow",
        "name": "EnergyPrices",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 120,
                "wires": [
                    {
                        "id": "bb225a141fb2affe"
                    },
                    {
                        "id": "d97a3c15b1973607"
                    },
                    {
                        "id": "6d3df1de0441d7b4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1125,
                "y": 300,
                "wires": [
                    {
                        "id": "e2069a2aa9bfefc3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 345,
                "wires": [
                    {
                        "id": "e97cf11550d5eb78",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 390,
                "wires": [
                    {
                        "id": "f87d9b70593c793b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 435,
                "wires": [
                    {
                        "id": "7574f0c617101b3e",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1095,
                "y": 480,
                "wires": [
                    {
                        "id": "74a09b239c3ab860",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1280,
                "y": 660,
                "wires": [
                    {
                        "id": "84f2961880dd2e92",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 735,
                "wires": [
                    {
                        "id": "13c532fb6d67aa1d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 780,
                "wires": [
                    {
                        "id": "81f74b166c939517",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 825,
                "wires": [
                    {
                        "id": "2e2b7448b6d470a7",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1255,
                "y": 870,
                "wires": [
                    {
                        "id": "ac4d1ea57b82e6d3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "inctax",
                "type": "bool",
                "value": "true",
                "ui": {
                    "icon": "font-awesome/fa-money",
                    "type": "checkbox"
                }
            }
        ],
        "meta": {},
        "color": "#00ff99",
        "outputLabels": [
            "Anwb Current Hour",
            "anwb +1h",
            "anwb +2h",
            "anwb +3h",
            "anwb +4h",
            "Easyenergy Current Hour",
            "Easyenergy +1h",
            "Easyenergy +2h",
            "Easyenergy +3h",
            "Easyenergy +4h"
        ],
        "icon": "font-awesome/fa-euro",
        "status": {
            "x": 1090,
            "y": 255,
            "wires": [
                {
                    "id": "e2069a2aa9bfefc3",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ceb1920bcf1ab523",
        "type": "http request",
        "z": "57f685082443c4d2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "6e4d5124a659643b",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 355,
        "y": 690,
        "wires": [
            [
                "fb8fd45508a89327"
            ]
        ]
    },
    {
        "id": "bb225a141fb2affe",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "create easyenergy url",
        "func": "//msg.url = 'https://api.energyzero.nl/v1/energyprices';\n//msg.url = 'https://api.frankenergie.nl/energyprices';\n//msg.url = 'https://enever.nl/api/stroomprijs_vandaag.php?' ;\nmsg.url = 'https://mijn.easyenergy.com/nl/api/tariff/getapxtariffs?startTimestamp=2020-04-29T22%3A00%3A00.000Z&endTimestamp=2020-04-30T22%3A00%3A00.000Z&grouping=';\nvar offset = 0;\nmsg.delay = 0;\nvar start = new Date();\n\nif (env.get('type') == 'tomorrow') {\n    offset = 24;\n    const targetTime = new Date(start.getFullYear(), start.getMonth(), start.getDate(), 15, 0, 0);\n    msg.delay = targetTime.getTime() - start.getTime();\n}\n\nstart.setUTCHours(0 + offset, start.getTimezoneOffset(), 0, 0);\nmsg.url += '?fromDate=' + start.toISOString();\n\nvar end = new Date();\nend.setUTCHours(23 + offset, start.getTimezoneOffset()+59, 59, 999);\nmsg.url += '&tillDate=' + end.toISOString();\n\nmsg.url += '&interval=4&usageType=1'\n\nif (env.get('inctax')) {\n    msg.url += '&inclBtw=true'\n} else {\n    msg.url += '&inclBtw=false'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 145,
        "y": 660,
        "wires": [
            [
                "ceb1920bcf1ab523",
                "7a1e63de9bb2f37a"
            ]
        ]
    },
    {
        "id": "fb8fd45508a89327",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 545,
        "y": 660,
        "wires": [
            [
                "1623503841fc5371",
                "40f9c6699953e407",
                "f8c326e33f466353",
                "853a6c45f62c6715",
                "54c7407427577956"
            ]
        ]
    },
    {
        "id": "1623503841fc5371",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy",
        "func": "const d = new Date();\n\nvar hourOffset = 0\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 660,
        "wires": [
            [
                "1151b71ad9659527"
            ]
        ]
    },
    {
        "id": "40f9c6699953e407",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +1h",
        "func": "const d = new Date();\n\nvar hourOffset = 1\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 735,
        "wires": [
            [
                "a340d67a92bb9734"
            ]
        ]
    },
    {
        "id": "f8c326e33f466353",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +2h",
        "func": "const d = new Date();\n\nvar hourOffset = 2\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 780,
        "wires": [
            [
                "9aabd57425ef615e"
            ]
        ]
    },
    {
        "id": "a340d67a92bb9734",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 735,
        "wires": [
            [
                "13c532fb6d67aa1d"
            ]
        ]
    },
    {
        "id": "9aabd57425ef615e",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 780,
        "wires": [
            [
                "81f74b166c939517"
            ]
        ]
    },
    {
        "id": "cc681020f3c935b2",
        "type": "http request",
        "z": "57f685082443c4d2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 330,
        "wires": [
            [
                "2fd19d2a660645a0"
            ]
        ]
    },
    {
        "id": "d97a3c15b1973607",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "create anwb url",
        "func": "msg.url = 'https://api.energyzero.nl/v1/energyprices';\n//msg.url = 'https://api.frankenergie.nl/energyprices';\n//msg.url = 'https://enever.nl/api/stroomprijs_vandaag.php?' ;\n//msg.url = 'https://mijn.easyenergy.com/nl/api/tariff/getapxtariffs?startTimestamp=2020-04-29T22%3A00%3A00.000Z&endTimestamp=2020-04-30T22%3A00%3A00.000Z&grouping=';\nvar offset = 0;\nmsg.delay = 0;\nvar start = new Date();\n\nif (env.get('type') == 'tomorrow') {\n    offset = 24;\n    const targetTime = new Date(start.getFullYear(), start.getMonth(), start.getDate(), 15, 0, 0);\n    msg.delay = targetTime.getTime() - start.getTime();\n}\n\nstart.setUTCHours(0 + offset, start.getTimezoneOffset(), 0, 0);\nmsg.url += '?fromDate=' + start.toISOString();\n\nvar end = new Date();\nend.setUTCHours(23 + offset, start.getTimezoneOffset()+59, 59, 999);\nmsg.url += '&tillDate=' + end.toISOString();\n\nmsg.url += '&interval=4&usageType=1'\n\nif (env.get('inctax')) {\n    msg.url += '&inclBtw=true'\n} else {\n    msg.url += '&inclBtw=false'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 215,
        "y": 300,
        "wires": [
            [
                "cc681020f3c935b2",
                "35fda8a607a289e9"
            ]
        ]
    },
    {
        "id": "2fd19d2a660645a0",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "e2069a2aa9bfefc3",
                "e97cf11550d5eb78",
                "f87d9b70593c793b",
                "7574f0c617101b3e",
                "74a09b239c3ab860"
            ]
        ]
    },
    {
        "id": "6d3df1de0441d7b4",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Hour",
        "func": "//msg.payload = {};\n\nconst d = new Date();\nlet hour = d.getHours();\n//let value = payload.average();\n\n//var msg = payload.Prices[hour].price;\nmsg.payload = msg.array[hour];\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "f16b3d76f68824d3"
            ]
        ]
    },
    {
        "id": "e2069a2aa9bfefc3",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price",
        "func": "const d = new Date();\n\nvar hourOffset = 0\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "a7f3a273453d8d0f"
            ]
        ]
    },
    {
        "id": "e97cf11550d5eb78",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Next Hour",
        "func": "const d = new Date();\n\nvar hourOffset = 1\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 345,
        "wires": [
            []
        ]
    },
    {
        "id": "f87d9b70593c793b",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+2",
        "func": "const d = new Date();\n\nvar hourOffset = 2\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "7574f0c617101b3e",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+3",
        "func": "const d = new Date();\n\nvar hourOffset = 3\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 435,
        "wires": [
            []
        ]
    },
    {
        "id": "74a09b239c3ab860",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "+4",
        "func": "const d = new Date();\n\nvar hourOffset = 4\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload.Prices[hour].price;\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "853a6c45f62c6715",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +3h",
        "func": "const d = new Date();\n\nvar hourOffset = 3\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 825,
        "wires": [
            [
                "4185de23a8b4a2f0"
            ]
        ]
    },
    {
        "id": "4185de23a8b4a2f0",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 825,
        "wires": [
            [
                "2e2b7448b6d470a7"
            ]
        ]
    },
    {
        "id": "54c7407427577956",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "Current Price easyenergy +4h",
        "func": "const d = new Date();\n\nvar hourOffset = 4\nlet hour = d.getHours() + hourOffset;\n\nvar msg = msg.payload[hour].TariffUsage; //select correct object\nreturn [{payload: msg}];\n\n\n// https://energie.anwb.nl/actuele-tarieven",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 870,
        "wires": [
            [
                "ba2714562fb2d483"
            ]
        ]
    },
    {
        "id": "ba2714562fb2d483",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 935,
        "y": 870,
        "wires": [
            [
                "ac4d1ea57b82e6d3"
            ]
        ]
    },
    {
        "id": "1151b71ad9659527",
        "type": "function",
        "z": "57f685082443c4d2",
        "name": "0.xx",
        "func": "msg.payload= msg.payload.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "84f2961880dd2e92"
            ]
        ]
    },
    {
        "id": "84f2961880dd2e92",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "13c532fb6d67aa1d",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1055,
        "y": 735,
        "wires": [
            []
        ]
    },
    {
        "id": "81f74b166c939517",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "2e2b7448b6d470a7",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 825,
        "wires": [
            []
        ]
    },
    {
        "id": "ac4d1ea57b82e6d3",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "e338b8751e2f39ca",
        "type": "debug",
        "z": "57f685082443c4d2",
        "name": "Current hour and price",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1115,
        "y": 165,
        "wires": []
    },
    {
        "id": "f16b3d76f68824d3",
        "type": "delay",
        "z": "57f685082443c4d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "a7f3a273453d8d0f",
        "type": "delay",
        "z": "57f685082443c4d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "35fda8a607a289e9",
        "type": "axios-request",
        "z": "57f685082443c4d2",
        "name": "",
        "endpoint": "1ebca2d371ef2ffa",
        "method": "get",
        "url": "",
        "responseType": "arraybuffer",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [],
        "params": [],
        "x": 400,
        "y": 270,
        "wires": [
            [
                "2fd19d2a660645a0"
            ]
        ]
    },
    {
        "id": "281ee16c236b218d",
        "type": "json",
        "z": "57f685082443c4d2",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 640,
        "y": 225,
        "wires": [
            [
                "e338b8751e2f39ca"
            ]
        ]
    },
    {
        "id": "7a1e63de9bb2f37a",
        "type": "axios-request",
        "z": "57f685082443c4d2",
        "name": "",
        "endpoint": "1ebca2d371ef2ffa",
        "method": "get",
        "url": "",
        "responseType": "arraybuffer",
        "keepAlive": false,
        "timeout": 30000,
        "validateStatus": true,
        "headers": [],
        "params": [],
        "x": 355,
        "y": 630,
        "wires": [
            [
                "fb8fd45508a89327"
            ]
        ]
    },
    {
        "id": "84e881cd8e4d8da0",
        "type": "comment",
        "z": "57f685082443c4d2",
        "name": "request node is broken in node-red 4.0",
        "info": "",
        "x": 405,
        "y": 360,
        "wires": []
    },
    {
        "id": "d517b282b99dea38",
        "type": "comment",
        "z": "57f685082443c4d2",
        "name": "use axios node: node-red 4.0",
        "info": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "3d7a0126f02a3d91",
        "type": "tls-config",
        "z": "57f685082443c4d2",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "6e4d5124a659643b",
        "type": "tls-config",
        "z": "57f685082443c4d2",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1ebca2d371ef2ffa",
        "type": "axios-endpoint",
        "z": "57f685082443c4d2",
        "name": "",
        "baseURL": "https://",
        "caCertPath": "",
        "rejectUnauthorized": true,
        "proxyEnabled": false,
        "proxyProtocol": "https",
        "proxyHost": "",
        "proxyPort": ""
    },
    {
        "id": "25bf8357da0a1632",
        "type": "subflow",
        "name": "stat",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 695,
                "y": 120,
                "wires": [
                    {
                        "id": "c0f80345ad414164",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 180,
                "wires": [
                    {
                        "id": "55409281823c26d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 240,
                "wires": [
                    {
                        "id": "16199f188e79a3ac",
                        "port": 0
                    }
                ]
            },
            {
                "x": 695,
                "y": 285,
                "wires": [
                    {
                        "id": "967f32ee6b345a64",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#ffccff",
        "icon": "node-red/db.svg",
        "status": {
            "x": 695,
            "y": 360,
            "wires": [
                {
                    "id": "a3847ea01f45c864",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "30942bf69a67ef04",
        "type": "comment",
        "z": "25bf8357da0a1632",
        "name": "Status stored parameter",
        "info": "",
        "x": 265,
        "y": 60,
        "wires": []
    },
    {
        "id": "c0f80345ad414164",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "InverterPower",
        "func": " msg.payload = global.get(\"InverterPower\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 575,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "55409281823c26d8",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "Marge",
        "func": "msg.payload = global.get(\"Marge\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 545,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "16199f188e79a3ac",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "CurrentPrice",
        "func": "msg.payload = global.get(\"CurrentPrice\");\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "967f32ee6b345a64",
        "type": "function",
        "z": "25bf8357da0a1632",
        "name": "PriceLimit",
        "func": "msg.payload = global.get(\"PriceLimit\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 555,
        "y": 285,
        "wires": [
            []
        ]
    },
    {
        "id": "2af03e35e7cf63f7",
        "type": "inject",
        "z": "25bf8357da0a1632",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 295,
        "y": 180,
        "wires": [
            [
                "c0f80345ad414164",
                "55409281823c26d8",
                "16199f188e79a3ac",
                "967f32ee6b345a64",
                "a3847ea01f45c864"
            ]
        ]
    },
    {
        "id": "a3847ea01f45c864",
        "type": "trigger",
        "z": "25bf8357da0a1632",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 515,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2c746c2c4d6a988f",
        "type": "subflow",
        "name": "Price Limiter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 85,
                "y": 165,
                "wires": [
                    {
                        "id": "283d493252e3c182"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1335,
                "y": 300,
                "wires": [
                    {
                        "id": "48f7f36e4dd9cee3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1335,
                "y": 435,
                "wires": [
                    {
                        "id": "2cc4f478b49fd701",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Current Price Input"
        ],
        "outputLabels": [
            "Output 5 or 100% ",
            "Output PriceLimit"
        ],
        "icon": "node-red-dashboard/ui_slider.png",
        "status": {
            "x": 740,
            "y": 405,
            "wires": [
                {
                    "id": "7c6ce3aff64c0250",
                    "port": 0
                },
                {
                    "id": "e6dc37b5ef30adad",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "283d493252e3c182",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "CurrentPrice",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CurrentPrice",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 165,
        "wires": [
            [
                "2cc4f478b49fd701"
            ]
        ]
    },
    {
        "id": "2cc4f478b49fd701",
        "type": "Comparator",
        "z": "2c746c2c4d6a988f",
        "name": "Comparator",
        "property": "payload",
        "math": "<=",
        "topic1": "CurrentPrice",
        "topic2": "PriceLimit",
        "x": 965,
        "y": 210,
        "wires": [
            [
                "48f7f36e4dd9cee3"
            ]
        ]
    },
    {
        "id": "8b4b56690ce36a28",
        "type": "inject",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "PriceLimit",
        "payloadType": "global",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "7c6ce3aff64c0250",
                "e6dc37b5ef30adad"
            ]
        ]
    },
    {
        "id": "48f7f36e4dd9cee3",
        "type": "function",
        "z": "2c746c2c4d6a988f",
        "name": "Power Limit 0 or 100 %",
        "func": "var compare = msg.payload ;\n\nswitch(compare) {\n  case true:\n    var Limfactor = 5\n    break;\n  case false:\n    var Limfactor = 100\n    break;\n  default:\n    var Limfactor = 100\n}\n\n\n\nreturn [{ payload: Limfactor }];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1205,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "fd1fe29694d89c4f",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "Last",
        "rules": [
            {
                "t": "set",
                "p": "PriceLimit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "e6dc37b5ef30adad",
        "type": "ui_slider",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "PriceLimit",
        "topicType": "str",
        "min": "-0.75",
        "max": "0.75",
        "step": "0.01",
        "className": "",
        "x": 350,
        "y": 405,
        "wires": [
            [
                "fd1fe29694d89c4f",
                "7c6ce3aff64c0250"
            ]
        ]
    },
    {
        "id": "3ca2abeb32ff156b",
        "type": "inject",
        "z": "2c746c2c4d6a988f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "CurrentPrice",
        "payloadType": "global",
        "x": 190,
        "y": 45,
        "wires": [
            [
                "283d493252e3c182"
            ]
        ]
    },
    {
        "id": "7c6ce3aff64c0250",
        "type": "function",
        "z": "2c746c2c4d6a988f",
        "name": "Start value after deploy",
        "func": "var limit = global.get(\"PriceLimit\");\n\nreturn [{payload: limit}];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 565,
        "y": 300,
        "wires": [
            [
                "d94942fd6a2ff886"
            ]
        ]
    },
    {
        "id": "d94942fd6a2ff886",
        "type": "change",
        "z": "2c746c2c4d6a988f",
        "name": "PriceLimit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PriceLimit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "2cc4f478b49fd701"
            ]
        ]
    },
    {
        "id": "f5fecfff114983f8",
        "type": "subflow",
        "name": "Stored Inverter Power",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 100,
                "wires": [
                    {
                        "id": "9771e4cc757767da"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#ffff00",
        "icon": "node-red/cog.svg",
        "status": {
            "x": 540,
            "y": 100,
            "wires": [
                {
                    "id": "f5fecfff114983f8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "9771e4cc757767da",
        "type": "function",
        "z": "f5fecfff114983f8",
        "name": "Store Inverter Power",
        "func": "global.set(\"InverterPower\",msg.payload) ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d9179c71c5c1cbaf",
        "type": "function",
        "z": "f5fecfff114983f8",
        "name": "Read Stored Power from storage",
        "func": "var InvPwr = global.get(\"InverterPower\");\nmsg.payload = InvPwr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "79c1f67fdc5babde"
            ]
        ]
    },
    {
        "id": "79c1f67fdc5babde",
        "type": "debug",
        "z": "f5fecfff114983f8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "328d432decbb866f",
        "type": "inject",
        "z": "f5fecfff114983f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "InverterPower",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "d9179c71c5c1cbaf"
            ]
        ]
    },
    {
        "id": "19b7ceb0c4629980",
        "type": "subflow",
        "name": "Dynamic Power Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 380,
                "wires": [
                    {
                        "id": "8127015507ce0d9a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1160,
                "y": 280,
                "wires": [
                    {
                        "id": "fd3b433d55734d93",
                        "port": 0
                    },
                    {
                        "id": "e4c127cd42a339a4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Dynamic Power Control",
            "type": "Switch",
            "desc": "switches flow and control"
        },
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 600,
            "y": 200,
            "wires": [
                {
                    "id": "25b3035174dabefe",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "25b3035174dabefe",
        "type": "ui_switch",
        "z": "19b7ceb0c4629980",
        "name": "Dynamic Control",
        "label": "Dynamic Control",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "state",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "8127015507ce0d9a",
                "e4c127cd42a339a4"
            ]
        ]
    },
    {
        "id": "e4c127cd42a339a4",
        "type": "function",
        "z": "19b7ceb0c4629980",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8127015507ce0d9a",
        "type": "function",
        "z": "19b7ceb0c4629980",
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "2af5928cccc9e187"
            ]
        ]
    },
    {
        "id": "2af5928cccc9e187",
        "type": "smooth",
        "z": "19b7ceb0c4629980",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "8",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "fd3b433d55734d93"
            ]
        ]
    },
    {
        "id": "fd3b433d55734d93",
        "type": "delay",
        "z": "19b7ceb0c4629980",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b9fe8f8b757e29ca",
        "type": "subflow",
        "name": "Power Limiter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 220,
                "wires": [
                    {
                        "id": "50c3d9c2b51a5bf5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1105,
                "y": 220,
                "wires": [
                    {
                        "id": "b7ea51d1b21374af",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1105,
                "y": 280,
                "wires": [
                    {
                        "id": "af5541cf58d6f8c5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "inputLabels": [
            "Actual use input"
        ],
        "outputLabels": [
            "Output 0 - 100%",
            "Output in Watt"
        ],
        "icon": "node-red-dashboard/ui_slider.png"
    },
    {
        "id": "50c3d9c2b51a5bf5",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "Power limit factor",
        "func": "//var Marge = 400 ;\n//var Limfactor = (msg.payload + Marge) / 5000 ;\nvar factor = global.get(\"InverterPower\");\nvar Limfactor = (msg.payload) / factor ; // 5000;\nreturn [{ payload: Limfactor }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "9ddd8bf4a4dbe001"
            ]
        ]
    },
    {
        "id": "6c358d17ae1ca89f",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "* 100",
        "func": "var lim = msg.payload *100 ;\nvar limit = Math.ceil(lim) ; \nreturn [{payload: limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b7ea51d1b21374af"
            ]
        ]
    },
    {
        "id": "9ddd8bf4a4dbe001",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "abs",
        "func": "var abs = Math.abs(msg.payload);\n\nreturn [{ payload: abs }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 455,
        "y": 220,
        "wires": [
            [
                "6c358d17ae1ca89f"
            ]
        ]
    },
    {
        "id": "b7ea51d1b21374af",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "range (min-max)",
        "func": "var min = 0 ;\nvar max = 100 ;\n\nvar limit = msg.payload ;\n\nif (limit > max) {\n    limit = max;\n} else if (limit < min) {\n    limit = min;\n} \n\n\nreturn[{payload:limit}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725,
        "y": 220,
        "wires": [
            [
                "af5541cf58d6f8c5"
            ]
        ]
    },
    {
        "id": "af5541cf58d6f8c5",
        "type": "function",
        "z": "b9fe8f8b757e29ca",
        "name": "limit W",
        "func": "var factor = global.get(\"InverterPower\") / 100 ;\nvar lim = msg.payload * factor ; //50; // factor for 5kW  inverter\nreturn [{ payload: lim }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 915,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "dd1316db29b22497",
        "type": "subflow",
        "name": "Dynamic Price Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 380,
                "y": 360,
                "wires": [
                    {
                        "id": "856666c868f3dcdb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 360,
                "wires": [
                    {
                        "id": "490936e81cadc111",
                        "port": 0
                    },
                    {
                        "id": "856666c868f3dcdb",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#00ff99",
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 590,
            "y": 510,
            "wires": [
                {
                    "id": "05d644e27099e347",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "05d644e27099e347",
        "type": "ui_switch",
        "z": "dd1316db29b22497",
        "name": "Dynamic Price Control",
        "label": "Dynamic Price Control",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "state",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "856666c868f3dcdb",
                "490936e81cadc111"
            ]
        ]
    },
    {
        "id": "490936e81cadc111",
        "type": "function",
        "z": "dd1316db29b22497",
        "name": "reset after off",
        "func": "var state = context.get(\"state\") || \"off\";\nvar max = 100;\n\nif (state == \"off\") {\n    return [{ payload: max }];\n\n}\n\n\n//var max = 100;\n//return [{ payload:max}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "856666c868f3dcdb",
        "type": "function",
        "z": "dd1316db29b22497",
        "name": "Flow On/OFF",
        "func": "var state = context.get(\"state\") || \"off\";\n\n// Display initial state status\nif (state == \"on\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: state });\n} else {\n    node.status({ fill: \"red\", shape: \"dot\", text: state });\n}\n\nif (msg.topic == \"state\") {\n    context.set(\"state\", msg.payload);\n    state = msg.payload;\n    // update status\n    if (state == \"on\") {\n        node.status({ fill: \"green\", shape: \"dot\", text: state });\n    } else {\n        node.status({ fill: \"red\", shape: \"dot\", text: state });\n    }\n} else {\n    if (state == \"on\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n//var max = 100;\n//return [{ payload:max}];",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd64e35ec029de8",
        "type": "tab",
        "label": "SMA Tripower 5.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe736424c99df60",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "01a0b4d2755ef6c1",
            "84d865a0c31f0223",
            "80bfb9c386d52247"
        ],
        "x": 14,
        "y": 34,
        "w": 717,
        "h": 262
    },
    {
        "id": "070bb4f7c28c437a",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "640b85955a50acf8",
            "1f5641ee1f3574bc",
            "8535d7c48ab4882c",
            "8691ef1e3912e551",
            "261152a46d805d54",
            "a040fcfd8f168f42",
            "3db5970c2f038a0b",
            "9331e95f9fefb917",
            "93dace3ba16e7a24",
            "eef088c999bd397e",
            "b34edfe7ad13e503",
            "927367c84a50a384",
            "3443304056e2d715",
            "7e2b593edc107f15",
            "61db35a04b0b234d"
        ],
        "x": 14,
        "y": 1024,
        "w": 1122,
        "h": 352
    },
    {
        "id": "231ff49ef1d477a8",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "688f39ff4d6a9aec",
            "ba2fe1c94599da8e",
            "b1b8818555e35992",
            "1adac31acbf72c0b",
            "f6ddd72666eab1c2",
            "c0d7f19624df37ca",
            "57725aa30dac1630",
            "a0c3e4acc8de37af",
            "77db3ff6e2329f44",
            "c375b2cc00544f53"
        ],
        "x": 1324,
        "y": 739,
        "w": 857,
        "h": 382
    },
    {
        "id": "cc4ff9517809eaa0",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "aed75024747eca54",
            "29a3abe693ef078b",
            "0c8db32cf3fe8b2a",
            "f5b82462d192ce49",
            "88bc2257f93549b0",
            "d7b786ce5cadce28",
            "a19c92e07ae69f4f",
            "a1eb5cd1aea245ef",
            "c2bcbda4f9fe2c56",
            "f8bf03ded6438127",
            "da5724b4a5ec2de6",
            "4762990771897842",
            "fe8a94f7c01ae370",
            "7246ea47176aac94",
            "72b4738c26a5af0e"
        ],
        "x": 14,
        "y": 694,
        "w": 1122,
        "h": 262
    },
    {
        "id": "ec19b3b5bd23ee2b",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "395f5b896dd31c17",
            "11ed5f08d2b0420c",
            "ee331052844eebcf",
            "d20b505f5c74bac6",
            "9f9dbaa7b90b690f",
            "599537189d4e90d4",
            "f050d3d90e6c11f0",
            "0444513b2d48c694",
            "19355c9a405c2de8",
            "233e2cd8026197c5",
            "18c7c8c5c1966e6d",
            "0669decb503aaef7",
            "b46462f09993eb11",
            "b49abd551c375e86"
        ],
        "x": 13,
        "y": 308,
        "w": 1768,
        "h": 323
    },
    {
        "id": "0e9ccc3b5dad57d2",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "Reading the Inverter limitation register",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "ac4ed4a12c05ec8b",
            "92a5a3f2695b5a3d",
            "4ef381d3a445d0bb",
            "fd515d593e3c177d",
            "7b4c47b1c1ac3fe4",
            "7c83e8521a71f9f0",
            "16d3b6405978a4af",
            "2234d9e213e93136",
            "ce4201cdf717c9db",
            "06a1b13733b68412",
            "35bbfb7cf6fc519c",
            "8587a1de842f0afe"
        ],
        "x": 749,
        "y": 34,
        "w": 1032,
        "h": 262
    },
    {
        "id": "55455da467e49811",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "",
        "style": {
            "fill": "#92d04f",
            "label": true
        },
        "nodes": [
            "21e8678a0647bc06"
        ],
        "x": 1999,
        "y": 34,
        "w": 192,
        "h": 82
    },
    {
        "id": "c4339d1cfeb12c12",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "name": "Read Status global variables (Context Data)",
        "style": {
            "label": true,
            "fill": "#ffccff",
            "color": "#000000"
        },
        "nodes": [
            "597ad3caa53d1782",
            "4a07a9d6ab63839a",
            "217fa27d6b0bed70",
            "ee59c1238a80cff2",
            "ab7b22b4e115eaf6"
        ],
        "x": 1324,
        "y": 1174,
        "w": 442,
        "h": 127
    },
    {
        "id": "0669decb503aaef7",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "enable injects for testing offline",
        "style": {
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "2db0bfb2829055c7",
            "99a99a4bbb72a6aa",
            "05c125221d282d8e"
        ],
        "x": 514,
        "y": 334,
        "w": 252,
        "h": 172
    },
    {
        "id": "b46462f09993eb11",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Input from other flow (dyn pwr ctr)",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "366ee18e24cd3305",
            "a99a5b2d28888a72"
        ],
        "x": 39,
        "y": 499,
        "w": 232,
        "h": 82
    },
    {
        "id": "b49abd551c375e86",
        "type": "group",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Solar input other flow (Optional)",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "05addc909e21ca16",
            "bf06e8f9cb296f7f"
        ],
        "x": 39,
        "y": 379,
        "w": 232,
        "h": 82
    },
    {
        "id": "2234d9e213e93136",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 865,
        "y": 150,
        "wires": [
            [
                "7c83e8521a71f9f0",
                "06a1b13733b68412",
                "ce4201cdf717c9db"
            ]
        ]
    },
    {
        "id": "7c83e8521a71f9f0",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1125,
        "y": 150,
        "wires": [
            [
                "92a5a3f2695b5a3d",
                "fd515d593e3c177d"
            ],
            []
        ]
    },
    {
        "id": "ac4ed4a12c05ec8b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "group": "4fb0db5cea9cd881",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "Power limit %",
        "label": "SMA Power Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1675,
        "y": 120,
        "wires": []
    },
    {
        "id": "92a5a3f2695b5a3d",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Power Limit",
        "func": "var limit = msg.payload[0] /100;\n\n\n\nreturn [{ payload: limit }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1445,
        "y": 120,
        "wires": [
            [
                "ac4ed4a12c05ec8b",
                "7b4c47b1c1ac3fe4"
            ]
        ]
    },
    {
        "id": "688f39ff4d6a9aec",
        "type": "ui_slider",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 1570,
        "y": 870,
        "wires": [
            [
                "ba2fe1c94599da8e",
                "b1b8818555e35992"
            ]
        ]
    },
    {
        "id": "4ef381d3a445d0bb",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "group": "4fb0db5cea9cd881",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 1705,
        "y": 165,
        "wires": []
    },
    {
        "id": "fd515d593e3c177d",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Power Limit % to W , sma 5kW",
        "func": "var factor = global.get(\"InverterPower\") /10000 ;\n\nvar pro = msg.payload[0] * factor ; // 0.5; // factor 0.5 for 5kW  inverter\n\n\n\nreturn [{ payload: pro }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1465,
        "y": 165,
        "wires": [
            [
                "4ef381d3a445d0bb",
                "ee331052844eebcf"
            ]
        ]
    },
    {
        "id": "ba2fe1c94599da8e",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "* 100",
        "func": "var lim = msg.payload *100;\nreturn [{payload: lim}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1715,
        "y": 870,
        "wires": [
            [
                "57725aa30dac1630",
                "77db3ff6e2329f44",
                "c375b2cc00544f53"
            ]
        ]
    },
    {
        "id": "b1b8818555e35992",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "% to Watt , sma 5kW",
        "func": "var factor = global.get(\"InverterPower\") / 100 ;\nvar lim = msg.payload * factor ; //50; // factor for 5kW  inverter\nreturn [{payload: lim}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1765,
        "y": 1080,
        "wires": [
            [
                "1adac31acbf72c0b"
            ]
        ]
    },
    {
        "id": "1adac31acbf72c0b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "group": "4fb0db5cea9cd881",
        "order": 9,
        "width": 2,
        "height": 1,
        "name": "set:",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#19e119",
        "x": 1975,
        "y": 1080,
        "wires": []
    },
    {
        "id": "16d3b6405978a4af",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Read Modbus values",
        "info": "",
        "x": 1135,
        "y": 90,
        "wires": []
    },
    {
        "id": "f6ddd72666eab1c2",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Write Modbus Register",
        "info": "",
        "x": 1945,
        "y": 810,
        "wires": []
    },
    {
        "id": "aed75024747eca54",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Dynamic Power Control ",
        "info": "",
        "x": 530,
        "y": 735,
        "wires": []
    },
    {
        "id": "a99a5b2d28888a72",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "g": "b46462f09993eb11",
        "name": "actual use in 1",
        "links": [
            "b792982110625bd6"
        ],
        "x": 230,
        "y": 540,
        "wires": [
            [
                "9f9dbaa7b90b690f",
                "fe8a94f7c01ae370"
            ]
        ]
    },
    {
        "id": "366ee18e24cd3305",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "b46462f09993eb11",
        "name": "actual use in",
        "info": "actual use in: Use your own payload",
        "x": 135,
        "y": 540,
        "wires": []
    },
    {
        "id": "395f5b896dd31c17",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "group": "4fb0db5cea9cd881",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Actual",
        "label": "Actual Use",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#0a95eb",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "29a3abe693ef078b",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "group": "4fb0db5cea9cd881",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Dynamic Limit",
        "label": "Calc. Dynamic Limit",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffcb13",
        "x": 920,
        "y": 865,
        "wires": []
    },
    {
        "id": "c0d7f19624df37ca",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Manual Power Limit Slider",
        "info": "",
        "x": 1625,
        "y": 780,
        "wires": []
    },
    {
        "id": "a0c3e4acc8de37af",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "Daily reset to 100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 1470,
        "y": 1080,
        "wires": [
            [
                "688f39ff4d6a9aec"
            ]
        ]
    },
    {
        "id": "0c8db32cf3fe8b2a",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "group": "4fb0db5cea9cd881",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "W",
        "label": "",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffcb13",
        "x": 890,
        "y": 905,
        "wires": []
    },
    {
        "id": "11ed5f08d2b0420c",
        "type": "ui_chart",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "group": "4fb0db5cea9cd881",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "SMA Tripower 5.0",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#21a1de",
            "#19e119",
            "#ffcb13",
            "#ff7d0f",
            "#98df8a",
            "#c3f05a",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1665,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ee331052844eebcf",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "ec19b3b5bd23ee2b",
        "name": "Powerlimit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "P-Limit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 480,
        "wires": [
            [
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "d20b505f5c74bac6",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Actual Use",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Act. Use",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1265,
        "y": 540,
        "wires": [
            [
                "0444513b2d48c694"
            ]
        ]
    },
    {
        "id": "9f9dbaa7b90b690f",
        "type": "function",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Actual use",
        "func": "\nvar Actual = msg.payload ;\nreturn [{ payload: Actual }];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1065,
        "y": 540,
        "wires": [
            [
                "d20b505f5c74bac6",
                "395f5b896dd31c17"
            ]
        ]
    },
    {
        "id": "f5b82462d192ce49",
        "type": "ui_numeric",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "marge",
        "label": "Marge",
        "tooltip": "",
        "group": "4fb0db5cea9cd881",
        "order": 10,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "Marge",
        "topicType": "msg",
        "format": "{{value}} W",
        "min": 0,
        "max": "1000",
        "step": "50",
        "className": "",
        "x": 260,
        "y": 915,
        "wires": [
            [
                "88bc2257f93549b0",
                "a1eb5cd1aea245ef"
            ]
        ]
    },
    {
        "id": "88bc2257f93549b0",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Marge",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Marge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 870,
        "wires": [
            [
                "d7b786ce5cadce28",
                "72b4738c26a5af0e"
            ]
        ]
    },
    {
        "id": "d7b786ce5cadce28",
        "type": "SumUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "actual",
        "property": "payload",
        "math": "sum",
        "x": 530,
        "y": 845,
        "wires": [
            [
                "c2bcbda4f9fe2c56"
            ]
        ]
    },
    {
        "id": "a19c92e07ae69f4f",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Last Used",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "Marge",
        "payloadType": "global",
        "x": 130,
        "y": 870,
        "wires": [
            [
                "f5b82462d192ce49",
                "88bc2257f93549b0"
            ]
        ]
    },
    {
        "id": "599537189d4e90d4",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "ec19b3b5bd23ee2b",
        "name": "Calc. Limit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Calc. Lim.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 590,
        "wires": [
            [
                "19355c9a405c2de8"
            ]
        ]
    },
    {
        "id": "a1eb5cd1aea245ef",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "last",
        "rules": [
            {
                "t": "set",
                "p": "Marge",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 915,
        "wires": [
            []
        ]
    },
    {
        "id": "05addc909e21ca16",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "g": "b49abd551c375e86",
        "name": "AC solar pwr",
        "links": [
            "b07ce420a9bbb0b2"
        ],
        "x": 230,
        "y": 420,
        "wires": [
            [
                "f050d3d90e6c11f0"
            ]
        ]
    },
    {
        "id": "bf06e8f9cb296f7f",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "b49abd551c375e86",
        "name": "Solar power in",
        "info": "",
        "x": 135,
        "y": 420,
        "wires": []
    },
    {
        "id": "f050d3d90e6c11f0",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "Ac power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Solar Pwr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "233e2cd8026197c5",
                "18c7c8c5c1966e6d"
            ]
        ]
    },
    {
        "id": "0444513b2d48c694",
        "type": "delay",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "19355c9a405c2de8",
        "type": "delay",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 590,
        "wires": [
            [
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "233e2cd8026197c5",
        "type": "delay",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "name": "",
        "pauseType": "rate",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1430,
        "y": 420,
        "wires": [
            [
                "11ed5f08d2b0420c"
            ]
        ]
    },
    {
        "id": "640b85955a50acf8",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Dynamic Price Control",
        "info": "",
        "x": 490,
        "y": 1065,
        "wires": []
    },
    {
        "id": "1f5641ee1f3574bc",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "group": "4fb0db5cea9cd881",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "Current Price",
        "label": "Current Price",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 635,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8535d7c48ab4882c",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "group": "4fb0db5cea9cd881",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "Next hour",
        "label": "Next hour",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 630,
        "y": 1245,
        "wires": []
    },
    {
        "id": "8691ef1e3912e551",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "group": "4fb0db5cea9cd881",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "Price +2h",
        "label": "Price: +2h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 630,
        "y": 1290,
        "wires": []
    },
    {
        "id": "261152a46d805d54",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "070bb4f7c28c437a",
        "group": "4fb0db5cea9cd881",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "Price +3h",
        "label": "Price +3h",
        "format": "{{msg.payload}} euro",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 630,
        "y": 1335,
        "wires": []
    },
    {
        "id": "a040fcfd8f168f42",
        "type": "subflow:dd1316db29b22497",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 970,
        "y": 1080,
        "wires": [
            [
                "9331e95f9fefb917"
            ]
        ]
    },
    {
        "id": "c2bcbda4f9fe2c56",
        "type": "subflow:b9fe8f8b757e29ca",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 700,
        "y": 845,
        "wires": [
            [
                "29a3abe693ef078b",
                "da5724b4a5ec2de6",
                "f8bf03ded6438127"
            ],
            [
                "0c8db32cf3fe8b2a",
                "599537189d4e90d4"
            ]
        ]
    },
    {
        "id": "05c125221d282d8e",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0669decb503aaef7",
        "name": "test actual use in",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3333",
        "payloadType": "num",
        "x": 650,
        "y": 465,
        "wires": [
            [
                "9f9dbaa7b90b690f",
                "fe8a94f7c01ae370"
            ]
        ],
        "icon": "font-awesome/fa-wrench"
    },
    {
        "id": "f8bf03ded6438127",
        "type": "subflow:19b7ceb0c4629980",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "",
        "x": 965,
        "y": 735,
        "wires": [
            [
                "4762990771897842"
            ]
        ]
    },
    {
        "id": "2db0bfb2829055c7",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0669decb503aaef7",
        "name": "test solar in",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4589",
        "payloadType": "num",
        "x": 640,
        "y": 375,
        "wires": [
            [
                "f050d3d90e6c11f0"
            ]
        ],
        "icon": "font-awesome/fa-wrench"
    },
    {
        "id": "99a99a4bbb72a6aa",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "0669decb503aaef7",
        "name": "TESTING VALUES",
        "info": "",
        "x": 635,
        "y": 420,
        "wires": []
    },
    {
        "id": "01a0b4d2755ef6c1",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "Set Inverter Power Here [Watt], (Sum of all inverters)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 260,
        "y": 135,
        "wires": [
            [
                "84d865a0c31f0223"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "84d865a0c31f0223",
        "type": "subflow:f5fecfff114983f8",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "",
        "x": 605,
        "y": 255,
        "wires": []
    },
    {
        "id": "80bfb9c386d52247",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "ebe736424c99df60",
        "name": "CONFIGURE: TOTAL INVERTER POWER",
        "info": "",
        "x": 230,
        "y": 75,
        "wires": []
    },
    {
        "id": "18c7c8c5c1966e6d",
        "type": "ui_text",
        "z": "2fd64e35ec029de8",
        "g": "ec19b3b5bd23ee2b",
        "group": "4fb0db5cea9cd881",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Solar Power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#19e119",
        "x": 1430,
        "y": 360,
        "wires": []
    },
    {
        "id": "3db5970c2f038a0b",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 780,
        "y": 1155,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "da5724b4a5ec2de6",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 840,
        "y": 735,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "9331e95f9fefb917",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 1095,
        "y": 1080,
        "wires": [
            [
                "688f39ff4d6a9aec"
            ]
        ],
        "l": false
    },
    {
        "id": "4762990771897842",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 1095,
        "y": 735,
        "wires": [
            [
                "688f39ff4d6a9aec"
            ]
        ],
        "l": false
    },
    {
        "id": "7b4c47b1c1ac3fe4",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 1560,
        "y": 75,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "57725aa30dac1630",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit )",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1955,
        "y": 870,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21e8678a0647bc06",
        "type": "comment",
        "z": "2fd64e35ec029de8",
        "g": "55455da467e49811",
        "name": "Version 0.8.3",
        "info": "work around for node-red issue:\n\nhttp request node gives errors after update to 4.01 and 4.02 #4826",
        "x": 2095,
        "y": 75,
        "wires": []
    },
    {
        "id": "fe8a94f7c01ae370",
        "type": "change",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Actual Use",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Act. Use",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 810,
        "wires": [
            [
                "d7b786ce5cadce28",
                "7246ea47176aac94"
            ]
        ]
    },
    {
        "id": "93dace3ba16e7a24",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 855,
        "y": 1080,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "eef088c999bd397e",
        "type": "subflow:2c746c2c4d6a988f",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "x": 635,
        "y": 1140,
        "wires": [
            [
                "a040fcfd8f168f42",
                "93dace3ba16e7a24"
            ],
            [
                "3db5970c2f038a0b"
            ]
        ]
    },
    {
        "id": "597ad3caa53d1782",
        "type": "subflow:25bf8357da0a1632",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "",
        "x": 1400,
        "y": 1230,
        "wires": [
            [
                "4a07a9d6ab63839a"
            ],
            [
                "217fa27d6b0bed70"
            ],
            [
                "ee59c1238a80cff2"
            ],
            [
                "ab7b22b4e115eaf6"
            ]
        ]
    },
    {
        "id": "4a07a9d6ab63839a",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "InverterPower",
        "property": "payload",
        "x": 1535,
        "y": 1215,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "217fa27d6b0bed70",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "Marge",
        "property": "payload",
        "x": 1675,
        "y": 1215,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "ee59c1238a80cff2",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "CurrentPrice",
        "property": "payload",
        "x": 1525,
        "y": 1260,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "ab7b22b4e115eaf6",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "c4339d1cfeb12c12",
        "name": "PriceLimit",
        "property": "payload",
        "x": 1680,
        "y": 1260,
        "wires": [
            []
        ],
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "7246ea47176aac94",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 505,
        "y": 780,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "72b4738c26a5af0e",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "cc4ff9517809eaa0",
        "name": "Status",
        "property": "payload",
        "x": 505,
        "y": 915,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "77db3ff6e2329f44",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit ) inverter 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1985,
        "y": 930,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c375b2cc00544f53",
        "type": "modbus-write",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "231ff49ef1d477a8",
        "name": "SMA Modbus Write 40023 ( Limit ) inverter 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "40023",
        "quantity": "1",
        "server": "67aa8a7899544f4d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1985,
        "y": 990,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ce4201cdf717c9db",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power, Inverter 3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1145,
        "y": 255,
        "wires": [
            [
                "8587a1de842f0afe"
            ],
            []
        ]
    },
    {
        "id": "06a1b13733b68412",
        "type": "modbus-getter",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "0e9ccc3b5dad57d2",
        "name": "SMA Modbus (41255) Power, Inverter 2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "3",
        "dataType": "HoldingRegister",
        "adr": "41255",
        "quantity": "2",
        "server": "67aa8a7899544f4d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1145,
        "y": 210,
        "wires": [
            [
                "35bbfb7cf6fc519c"
            ],
            []
        ]
    },
    {
        "id": "35bbfb7cf6fc519c",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 1350,
        "y": 210,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "8587a1de842f0afe",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "0e9ccc3b5dad57d2",
        "name": "Status",
        "property": "payload",
        "x": 1350,
        "y": 255,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "b34edfe7ad13e503",
        "type": "subflow:57f685082443c4d2",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "EnergyPrices",
        "x": 305,
        "y": 1260,
        "wires": [
            [
                "eef088c999bd397e",
                "1f5641ee1f3574bc",
                "3443304056e2d715"
            ],
            [
                "8535d7c48ab4882c"
            ],
            [
                "8691ef1e3912e551"
            ],
            [
                "261152a46d805d54"
            ],
            [],
            [
                "7e2b593edc107f15"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "927367c84a50a384",
        "type": "inject",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "rejectUnauthorized",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "array",
                "v": "[\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"21\",\"22\",\"23\"]",
                "vt": "json"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "b34edfe7ad13e503"
            ]
        ]
    },
    {
        "id": "3443304056e2d715",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 720,
        "y": 1200,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "7e2b593edc107f15",
        "type": "StatusUltimate",
        "z": "2fd64e35ec029de8",
        "g": "070bb4f7c28c437a",
        "name": "Status",
        "property": "payload",
        "x": 435,
        "y": 1335,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "61db35a04b0b234d",
        "type": "link in",
        "z": "2fd64e35ec029de8",
        "d": true,
        "g": "070bb4f7c28c437a",
        "name": "Electricity Price",
        "links": [
            "380b93653aa12193"
        ],
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "eef088c999bd397e",
                "1f5641ee1f3574bc"
            ]
        ]
    },
    {
        "id": "bb0d234c8a50aa7d",
        "type": "ui_spacer",
        "z": "2fd64e35ec029de8",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "67aa8a7899544f4d",
        "type": "modbus-client",
        "name": "SMA Modbus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.4",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "4fb0db5cea9cd881",
        "type": "ui_group",
        "name": "SMA  settings",
        "tab": "cccf47e4.857ec8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cccf47e4.857ec8",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "battery_charging_60",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]